{% load static %}

<div id = "panel-activities" class = "panel {% if selected == True %}selected{% endif %}">
    <!-- <div class = "activity-section">
        <p class = "activity-section-label">Open</p>
        <div class = "activity-list activity-section-content">
            <div class = "activity-widget-wrapper">
                <input class = "activity-id" type = "hidden" value = "">
                <div class = "activity-widget">
                    <div class = "activity-widget-header">
                        <img class = "activity-widget-type" src = "{% static 'img/icons/rocket-white-96.png' %}">
                        <div class = "activity-widget-players">
                            <p># Players</p>
                            <img src = "{% static 'img/icons/people-white-96.png' %}">
                        </div>
                    </div>
                    <div class = "activity-widget-info">
                        <div class = "activity-widget-name">
                            
                        </div>
                        <div class = "activity-widget-creator">
                            <img src = "{% static 'img/icons/crown-96.png' %}">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>