{% load static %}

<div id = "panel-home" class = "panel no-scrolling {% if selected == True %}selected{% endif %}">
    <div id = "room-info">
        <div id = "room-banner">
            <div id = "room-picture">
                <img src = "{{ room.playlist_image_url }}">
            </div>
        </div>
        <div id = "room-details">
            <p id = "room-title">{{ room.title }}</p>
            <div id = "room-options">
                {% if user != room.leader %}
                    
                    <div class = "room-option item-label-trigger left">
                        <img src = "{% static 'img/icons/leave-white-96.png' %}">
                        <p class = "item-label">Leave Room</p>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
    <div id = "room-body">
        <div id = "element-description" class = "room-element">
            <p class = "element-title">Description</p>
            <div class = "element-body">
                <p>{{ room.description }}</p>
            </div>
        </div>
        <div id = "element-chat" class = "room-element">
            <p class = "element-title">Chat</p>
            <div id = "chat-container">
                <div id = "chat-messages-wrapper">
                    <div id = "chat-messages">
                       
                    </div>
                </div>
                <input id = "chat-box" type = "text" placeholder = "Write a message">
            </div>
        </div>
    </div>
</div>