{% load static %}

<div class = "profile-picture entry-image item-picture" style = "--width: {{ width }}; --height: {{ height }}; --background-color: #{{ user.userprofile.color }}">
    {% if size == 2 and user.userprofile.picture.medium %}
        <img src = "{{ user.userprofile.picture.medium.url }}">
    {% elif size == 3 and user.userprofile.picture.large %}
        <img src = "{{ user.userprofile.picture.large.url }}">
    {% elif user.userprofile.picture.small %}
        <img src = "{{ user.userprofile.picture.small.url }}">
    {% else %}

        <img class = "default" src = "{% static 'img/profile/baby-yoda-white-100.png' %}">

    {% endif %}
</div>