{% load static %}
{% load util %}

<div id = "panel-personalization" class = "panel {% if selected == True %}selected{% endif %}">
	

	<div id = "settings-sections">
		<form id = "form-personalization" enctype = "multipart/form-data" method = "POST">
			{% csrf_token %}

			<input type = "hidden" name = "panel-label" value = "personalization">
			<input id = "icon-image-path" type = "hidden" name = "icon-image" value = "{{ user.userprofile.icon_image }}">
			<div class = "settings-sections">
				<div class = "settings-section">
					<p class = "settings-label">Profile</p>
					<div class = "settings-list">
						<div id = "setting-icon" class = "setting">
							<p class = "setting-label">Picture</p>
							<div class = "file-upload">
								<div class = "upload-button">Upload Image</div>
								<div class = "upload-preview"></div>

								<input type = "file" name = "picture" accept = "image/*">
							</div>
						</div>
						<div class = "setting">
							<p class = "setting-label">Color (Hex)</p>
							<input type = "text" name = "color" value = "{{ user.userprofile.color }}">
						</div>
						<div class = "settings-actions">
							<input type = "submit" value = "Save">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>