{% load static %}

<!doctype html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	
	<meta name="title" content="MixJam - Listen to your favorite music, together">
	<meta name="description" content="Connect your Spotify Premium account, invite your friends, and start listening to your favorite music - completely synced.">

	<meta property="og:type" content="website">
	<meta property="og:url" content="https://mixjam.io/">
	<meta property="og:title" content="MixJam - Listen to your favorite music, together">
	<meta property="og:description" content="Connect your Spotify Premium account, invite your friends, and start listening to your favorite music - completely synced.">
	<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://mixjam.io/">
	<meta property="twitter:title" content="MixJam - Listen to your favorite music, together">
	<meta property="twitter:description" content="Connect your Spotify Premium account, invite your friends, and start listening to your favorite music - completely synced.">
	<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

	<title>{% block title %}MixJam - Listen to your favorite music, together{% endblock %}</title>
	
	<link rel = "shortcut icon" type = "image/x-icon" href = "{% static 'img/icons/ico/logo-red.ico' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base.css' %}">
	
	{% block css %}
	{% endblock %}
	
	{% static 'font/roboto/Roboto-Regular.ttf' as roboto_reg %}
	{% static 'font/roboto/Roboto-Medium.ttf' as roboto_med %}
	{% static 'font/roboto/Roboto-Bold.ttf' as roboto_bold %}

	<style>
		{% autoescape off %}
			@font-face {
				font-family: Roboto-Regular;
				src: url("{{ roboto_reg|safe }}");
			}
			@font-face {
				font-family: Roboto-Medium;
				src: url("{{ roboto_med|safe }}");
			}
			@font-face {
				font-family: Roboto-Bold;
				src: url("{{ roboto_bold|safe }}");
			}
		{% endautoescape %}
	</style>
</head>
<body>
    {% block content %}
    {% endblock %}

	{% block js %}
        <script src = "{% static 'js/jquery.js' %}"></script>
	{% endblock %}
</body>
</html>