{% extends 'core/base.html' %}

{% load static %}
{% load util %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_auth.css' %}">

{% endblock %}
	

{% block content %}
	
	<div id = "nav">
		<div class = "nav-section">
			<a href = "{% url 'index' %}"><img id = "logo" src = "{% static 'img/icons/logo/logo-green-377.png' %}"></a>
			
			<div id = "page-info">
				<p id = "page-name">{% block page_name %}Home{% endblock %}</p>
				
				{% block page_name_after %}
				{% endblock %}
				
				<div id = "panel-labels">
					{% block panel_labels %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div class = "nav-section">
			
		</div>
		<div id = "user-section" class = "nav-section">
			{% block user_container_before %}
			{% endblock %}
			
			<div id = "user-container">
				<a href = "{% url 'account' %}">
					{% include 'core/blocks/profile-picture.html' with width='40px' height='40px' %}
				</a>
			</div>
		</div>
	</div>
	<div id = "container">
		<div id = "room-list-container" class = "side-panel-container">
			<div class = "list-section">
				<p class = "section-label">Your Rooms</p>
				<div class = "section-items">
					{% get_rooms user as rooms %}
				
					{% for room in rooms %}
						
						<a class = "no-underline" href = "{% url 'room' room_code=room.code %}">
							<div class = "section-item room">
								<div class = "item-picture" style = "--background-image: url({{ room.playlist_image_url }})"></div>
								<p class = "item-label no-underline">{{ room.title }}</p>
							</div>
						</a>
						
					{% endfor %}
				</div>
			</div>
		</div>
		<div id = "panel-container">
			{% block panel_container %}
			{% endblock %}
		</div>
		<div id = "right-side-panel" class = "side-panel-container">
			{% block right_side_panel %}
			{% endblock %}
		</div>
	</div>

{% endblock %}
	
{% block js %}
	{{ block.super }}

	<script src = "{% static 'js/base_auth.js' %}"></script>
{% endblock %}