{% extends 'core/base.html' %}

{% load static %}
{% load util %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_auth.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/messages.css' %}">

{% endblock %}
	

{% block content %}
	
	<div id = "nav">
		<div class = "nav-section">
			<a href = "{% url 'index' %}">
				<img id = "logo" src = "{% static 'img/icons/logo/logo-red.png' %}">
			</a>
			
			<div id = "page-info">
				<p id = "page-name">{% block page_name %}Home{% endblock %}</p>
				
				{% block page_name_after %}
				{% endblock %}
				
				<div id = "panel-labels">
					{% block panel_labels %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div id = "user-section" class = "nav-section">
			{% block user_container_before %}
			{% endblock %}
			
			<div id = "user-container">
				{% include 'core/blocks/profile-picture.html' with width='40px' height='40px' %}

				<p id = "user-container-username">{{ user.username }}</p>
			</div>

			<div id = "user-dropdown">
				{% include 'core/blocks/user-card.html' %}

				<div id = "user-dropdown-options">
					<a class = "no-underline" href = "{% url 'account' %}">
						<div class = "dropdown-option">Account</div>
					</a>
					<a class = "no-underline" href = "{% url 'logout' %}">
						<div class = "dropdown-option logout">Logout</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id = "container">
		<div id = "left-side-panel" class = "side-panel-container">
			<div class = "list-section">
				{% get_rooms user as rooms %}
				{% get_room_count user as room_count %}

				<p class = "section-label">Your Rooms • {{ room_count }}</p>
				<div class = "section-items">
					{% for room in rooms %}
						
						<a class = "no-underline" href = "{% url 'room' room_code=room.code %}">
							<div class = "section-item room">
								<div class = "item-picture" style = "--background-image: url({{ room.playlist_image_url }})">
									{% if room.playlist.playing %}
										<div class = "playing-overlay" style = "--background-image: url({% static 'img/icons/logo.gif' %})"></div>
									{% endif %}
								</div>

								<p class = "item-label no-underline">{{ room.title }}</p>
							</div>
						</a>
						
					{% endfor %}
				</div>
			</div>
			<div id = "mini-footer">
				<div id = "footer-links">
					<a href = "https://github.com/NickJGG">
						<div class = "footer-link">
							<img title = "Github" src = "{% static 'img/icons/github-white-96.png' %}">
						</div>
					</a>
					<a href = "https://icons8.com/">
						<div class = "footer-link">
							<img title = "Icons from Icons8" src = "{% static 'img/icons/icons8-white-96.png' %}">
						</div>
					</a>
				</div>
				<div id = "footer-logo">
					<img src = "{% static 'img/icons/logo/logo-red.png' %}">
					<p id = "footer-copyright">© 2021 Nicholas Gilliam</p>
				</div>
			</div>
		</div>
		<div id = "panel-container">
			{% if messages %}
				
				<div id = "messages-container">
					{% for message in messages %}

						<div class = "message {% if message.tags %}{{ message.tags }}{% endif %}">
							<p>{{ message }}</p>
							<img src = "{% static 'img/icons/close-white-96.png' %}">
						</div>

					{% endfor %}
				</div>
			
			{% endif %}

			{% block panel_container %}
			{% endblock %}
		</div>
		<div id = "right-side-panel" class = "side-panel-container">
			{% block right_side_panel %}
			{% endblock %}
		</div>
	</div>

{% endblock %}
	
{% block js %}
	{{ block.super }}

	<script src = "{% static 'js/base_auth.js' %}"></script>
{% endblock %}