{% extends 'core/base.html' %}

{% load static %}
{% load util %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_auth.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/messages.css' %}">

{% endblock %}

{% block content %}

	<div id = "temp-notifications">
		
	</div>
	
	<div id = "nav">
		<div class = "nav-section">
			<a href = "{% url 'index' %}">
				<img id = "logo" src = "{% static 'img/icons/logo/logo-red.png' %}">
			</a>
			
			<div id = "page-info">
				<p id = "page-name">{% block page_name %}Home{% endblock %}</p>
				
				{% block page_name_after %}
				{% endblock %}
				
				<div id = "panel-labels">
					{% block panel_labels %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div id = "user-section" class = "nav-section">
			{% block user_container_before %}
			{% endblock %}

			<div id = "user-utilities">
				<div id = "connection-container" class = "disconnected user-utility popup-container column bottom right">
					<div class = "popup-toggle connection-icon">
						<img class = "disconnected" src = "{% static 'img/icons/disconnected-white-96.png' %}">
						<img class = "connected" src = "{% static 'img/icons/connected-white-96.png' %}">
					</div>
					<div class = "popup-element hover">
						<div class = "header">
							<p>Connections</p>
						</div>
						<div id = "connection-list">
							<div class = "connection disconnected template">
								<div class = "connection-icon">
									<img class = "disconnected" src = "{% static 'img/icons/disconnected-white-96.png' %}">
									<img class = "connected" src = "{% static 'img/icons/connected-white-96.png' %}">
								</div>
								<p class = "connection-name"></p>
							</div>
						</div>
					</div>
				</div>
				<div id = "notification-container" class = "user-utility popup-container column bottom right">
					{% get_notifications user as notifications %}

					<div class = "popup-toggle">
						<img src = "{% static 'img/icons/bell-white-96.png' %}">

						<div id = "notification-badge" {% if notifications|length > 0 %}class = "show"{% endif %}>
							<p>{{ notifications|length }}</p>
						</div>
					</div>
					<div class = "popup-element">
						<div class = "header">
							<p>Notifications</p>
						</div>
						<div id = "notifications-wrapper">
							<div id = "notification-list">
								{% for noti in notifications %}
									{% include 'core/blocks/notification.html' with noti=noti type=noti.type %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "popup-container column bottom right">
				<div id = "user-container" class = "popup-toggle">
					{% include 'core/blocks/profile-picture.html' with width='40px' height='40px' %}

					<p id = "user-container-username">{{ user.username }}</p>
				</div>
				<div id = "user-dropdown" class = "popup-element">
					{% include 'core/blocks/user-card.html' with hide_showcase=True %}

					<div id = "user-dropdown-options">
						<a class = "no-underline" href = "{% url 'account' %}">
							<div class = "dropdown-option">Account</div>
						</a>
						<a class = "no-underline" href = "{% url 'logout' %}">
							<div class = "dropdown-option logout">Logout</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id = "container">
		<div id = "left-side-panel" class = "side-panel-container">
			<div class = "side-panel-items">
				{% get_rooms user as rooms %}
				{% get_room_count user as room_count %}

				<div class = "popup-container side-panel-items-controller right barebones">
					<div class = "side-panel-item item-label-trigger selector room popup-toggle right">
						<img id = "expand" class = "side-panel-items-icon" src = "{% static 'img/icons/music-record-white-96.png' %}">
						<p class = "item-label no-underline">Rooms</p>
					</div>
				</div>

				<div class = "side-panel-items-divider"></div>

				{% for room in rooms %}

					<div class = "popup-container row top right margin">
						<div class = "side-panel-item item-label-trigger room popup-toggle right">
							<div class = "item-picture" style = "--background-image: url({{ room.playlist_image_url }})">
								{% if room.playlist.playing %}
									<div class = "playing-overlay" style = "--background-image: url({% static 'img/icons/logo.gif' %})"></div>
								{% endif %}
							</div>

							<p class = "item-label no-underline">{{ room.title }}</p>
						</div>
						
						{% include 'core/blocks/previews/room-preview.html' with title=room.title picture=room.playlist_image_url header_color=room.banner_color room=room %}
					</div>
						
				{% endfor %}
			</div>

			<div id = "mini-footer">
				<div id = "footer-links">
					<a href = "https://github.com/NickJGG">
						<div class = "footer-link">
							<img title = "Github" src = "{% static 'img/icons/github-white-96.png' %}">
						</div>
					</a>
					<a href = "https://icons8.com/">
						<div class = "footer-link">
							<img title = "Icons from Icons8" src = "{% static 'img/icons/icons8-white-96.png' %}">
						</div>
					</a>
				</div>
				<div id = "footer-logo">
					<img src = "{% static 'img/icons/logo/logo-red.png' %}">
					<p id = "footer-copyright">© 2021 Nicholas Gilliam</p>
				</div>
			</div>
		</div>
		<div id = "panel-container">
			{% if messages %}
				
				<div id = "messages-container">
					{% for message in messages %}

						<div class = "message {% if message.tags %}{{ message.tags }}{% endif %}">
							<p>{{ message }}</p>
							<img src = "{% static 'img/icons/close-white-96.png' %}">
						</div>

					{% endfor %}
				</div>
			
			{% endif %}

			{% block panel_container %}
			{% endblock %}
		</div>
		<div id = "right-side-panel" class = "side-panel-container">
			{% block right_side_panel %}

				<div class = "side-panel-items">
					<div class = "side-panel-items-controller popup-container barebones row">
						<div class = "side-panel-item selector room popup-toggle">
							<img class = "side-panel-items-icon" src = "{% block hide_friends_icon %}{% static 'img/icons/people-white-96.png' %}{% endblock %}">
						</div>
						<div class = "popup-element">
							<div class = "selector-options">
								<div id = "selector-friends" class = "selector-option">
									<img class = "side-panel-items-icon" src = "{% static 'img/icons/people-white-96.png' %}">
								</div>
								
								{% block selector_options %}
								{% endblock %}
							</div>

							<p class = "item-label no-underline">Preview</p>
						</div>
					</div>

					<div class = "side-panel-items-divider"></div>

					{% get_friends_statuses user as friends %}

					<div id = "group-friends" class = "side-panel-items-group {% block hide_friends %}selected{% endblock %}">
						<div class = "side-panel-items-subgroup">

							{% for friend in friends.online %}
								{% include 'core/blocks/side-panel-items/friend.html' with room=room friend=friend %}
							{% endfor %}

						</div>
						<div class = "side-panel-items-subgroup grayscale">

							{% for friend in friends.offline %}
								{% include 'core/blocks/side-panel-items/friend.html' with room=room friend=friend %}
							{% endfor %}
						</div>
						<div class = "side-panel-items-subgroup actions">
							<div id = "add-friend" class = "popup-container row top left margin">
								<div class = "side-panel-item item-label-trigger popup-toggle left">
									<img class = "side-panel-items-icon" src = "{% static 'img/icons/plus-white-96-2.png' %}">
									<p class = "item-label no-underline">Add Friend</p>
								</div>
								<div class = "popup-element room-preview">
									<div class = "preview-body">
										<input type = "text" placeholder = "Username">
										<div class = "preview-options">
											<div class = "preview-option accept left">
												<img src = "{% static 'img/icons/add-user-white-96.png' %}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% block selector_groups %}
					{% endblock %}
				</div>

			{% endblock %}
		</div>
	</div>

{% endblock %}
	
{% block js %}
	{{ block.super }}

	<script src = "{% static 'js/ajax.js' %}"></script>
	<script src = "{% static 'js/base_auth.js' %}"></script>
	<script type = "text/javascript">
		var username = '{{ user.username }}';
	</script>
{% endblock %}