{% extends 'core/_base_auth.html' %}
{% load static %}

{% block title %}{% if error_title %}{{ error_title }}{% else %}Error{% endif %}{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/error.css' %}">

{% endblock %}

{% block container %}
	
	<div id = "error-container">
        <img src = "{% static 'img/not-found-96.png' %}">
        <p id = "error-message">{{ error_message }}</p>
        <div id = "error-options">
            <a href = "{% url 'index' %}">
                <div class = "error-option">Home</div>
            </a>

            {% if error_code == 100 %}

                <a href = "{% url 'account' %}">
                    <div class = "error-option green">Link</div>
                </a>

            {% endif %}
        </div>
    </div>

{% endblock %}