{% extends 'core/base_auth.html' %}
{% load static %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">

{% endblock %}

{% block js %}

	<script>
		var params = {
			response_type: 'code',
			client_id: '8b817932e631474cb15f7e36edcfc53b',
			scope: 'streaming app-remote-control user-modify-playback-state user-read-currently-playing',
			redirect_uri: '{{ redirect_uri }}',
			state: null
		};

		var esc = encodeURIComponent;
		var query = 'https://accounts.spotify.com/authorize?' + Object.keys(params)
			.map(k => esc(k) + '=' + esc(params[k]))
			.join('&');
		
		console.log(query);
		
		$('#authorize').attr('href', query);
	</script>

{% endblock %}