{% extends 'core/base_auth.html' %}
{% load static %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/panel.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/subpanel.css' %}">

{% endblock %}

{% block page_name %}Syncify{% endblock %}

{% block panel_labels %}

	<p class = "panel-label selected">Home</p>
	<p class = "panel-label">FAQ</p>

{% endblock %}

{% block panel_container %}

	{% include 'core/blocks/panels/home/home.html' with selected=True %}
	{% include 'core/blocks/panels/home/faq.html' %}

	<!--<a href = "{{ authorize_url }}">Authorize</a>-->

{% endblock %}

{% block js %}
	{{ block.super }}
	
	<script src = "{% static 'js/home.js' %}"></script>
	<script src = "{% static 'js/panel.js' %}"></script>

{% endblock %}