{% extends 'core/_base_auth.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/panel.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/subpanel.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/settings.css' %}">

{% endblock %}

{% block page_name %}Home{% endblock %}
{% block selected_home %}selected{% endblock %}
{% block selected_home2 %}selected{% endblock %}

{% block container %}

	{% if new_user %}

		<div id = "user-message-container">
			<div id = "new-user-message">
				<img src = "{% static 'img/icons/logo/logo-red.png' %}">
				
				<p id = "message-title">Welcome to MixJam, {{ user.username }}</p>
				<p id = "message-body">Create or join a room to start listening to music with friends. Any room you are apart of will show up here, as well as the sidebar.</p>
				<div id = "message-tips">
					<div class = "message-tip">Create a room by going to the Create Room tab</div>
					<div class = "message-tip">Join a room by clicking on an invite link from a friend</div>
				</div>
				<div class = "settings-actions">
					<input id = "close-message" class = "gray" type = "submit" value = "Got It">
				</div>
			</div>
		</div>

	{% endif %}

	<div class = "section">
		<div class = "section-header">
			<p class = "section-label">Your Rooms</p>
		</div>
		<div id = "room-list" class = "section-content">
			{% if recent_room %}

				<a class = "no-underline" role = "button" tabIndex = 0 href = "{% url 'room' room_code=recent_room.code %}">
					<div class = "room playing">
						<div class = "room-cover">
							<div class = "room-image" style = "background-image: url({{ recent_room.playlist_image_url }})"></div>
							<div class = "room-playing">
								<img src = "{% static 'img/icons/animation/logo2/logo.gif' %}">
								<p>Playing</p>
							</div>
						</div>
						<div class = "room-info">
							<p class = "room-name">{{ recent_room.title }}</p>
							<div class = "room-users">
								<img class = "label-image" src = "{% static 'img/icons/twopeople-white-88.png' %}">

								{% for profile in recent_room.users.all|slice:"0:4" %}
									{% include 'core/blocks/profile-picture.html' with profile=profile width='1.4em' height='1.4em' %}
								{% endfor %}

								{% if recent_room.users.all|length > 4 %}
									<p>+{{ recent_room.users.all|length|add:"-4" }}</p>
								{% endif %}
							</div>
						</div>
					</div>
				</a>

			{% endif %}

			{% for room in other_rooms %}

				<a class = "no-underline" href = "{% url 'room' room_code=room.code %}">
					<div class = "room">
						<div class = "room-cover">
							<div class = "room-image" style = "background-image: url({{ room.playlist_image_url }})">

							</div>
						</div>
						<div class = "room-info">
							<p class = "room-name">{{ room.title }}</p>
							<div class = "room-users">
								<img class = "label-image" src = "{% static 'img/icons/twopeople-white-88.png' %}">

								{% for profile in room.users.all|slice:"0:4" %}
									{% include 'core/blocks/profile-picture.html' with profile=profile width='1.4em' height='1.4em' %}
								{% endfor %}

								{% if room.users.all|length > 4 %}
									<p>+{{ room.users.all|length|add:"-4" }}</p>
								{% endif %}
							</div>
						</div>
					</div>
				</a>

			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block js %}
	{{ block.super }}
	
	<script src = "{% static 'js/home.js' %}"></script>
	<script src = "{% static 'js/panel.js' %}"></script>

{% endblock %}