{% load static %}

<html>
<head>
	<title>Syncify</title>
	
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/landing.css' %}">
	
	<style>
		@font-face {
			font-family: Roboto-Thin;
			src: url({% static 'font/roboto/Roboto-Thin.ttf' %});
		}
		@font-face {
			font-family: Roboto-Light;
			src: url({% static 'font/roboto/Roboto-Light.ttf' %});
		}
		@font-face {
			font-family: Roboto-Regular;
			src: url({% static 'font/roboto/Roboto-Regular.ttf' %});
		}
		@font-face {
			font-family: Roboto-Medium;
			src: url({% static 'font/roboto/Roboto-Medium.ttf' %});
		}
	</style>
</head>
	<img id = "logo" src = "{% static 'img/icons/spotify-384.png' %}">
<body>
	<p id = "welcome-message">Listen to your favorite music, together</p>
	<div id = "account-buttons">
		<a href = "{% url 'login' %}"><div class = "account-button login">
			<img src = "{% static 'img/icons/add-user-white-96.png' %}">
			<p>Login</p>
		</div></a>
		<p id = "button-separator">or</p>
		<a href = "{% url 'register' %}"><div class = "account-button register">
			<img src = "{% static 'img/icons/add-user-white-96.png' %}">
			<p>Sign Up</p>
		</div></a>
	</div>
	
	<script src = "{% static 'js/jquery.js' %}"></script>
</body>
</html>