{% load static %}

<html>
<head>
	<title>Login - Syncify</title>
	
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/landing.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/login.css' %}">
	
	<style>
		@font-face {
			font-family: Roboto-Thin;
			src: url({% static 'font/roboto/Roboto-Thin.ttf' %});
		}
		@font-face {
			font-family: Roboto-Light;
			src: url({% static 'font/roboto/Roboto-Light.ttf' %});
		}
		@font-face {
			font-family: Roboto-Regular;
			src: url({% static 'font/roboto/Roboto-Regular.ttf' %});
		}
		@font-face {
			font-family: Roboto-Medium;
			src: url({% static 'font/roboto/Roboto-Medium.ttf' %});
		}
	</style>
</head>
	<img id = "logo" src = "{% static 'img/icons/spotify-384.png' %}">
<body>
	<form method = "POST">
		{% csrf_token %}
		
		<p id = "header">Login</p>
		<hr>
		<input type = "text" name = "username" placeholder = "Username">
		<input type = "password" name = "password" placeholder = "Password">
		<input type = "submit" value = "LOGIN">
		<p class = "alt-message">Don't have an account? <a class = "alt-link" href = "{% url 'register' %}">Sign up</a></p>
	</form>
	
	<script src = "{% static 'js/jquery.js' %}"></script>
</body>
</html>