{% extends 'core/base_unauth.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
	{{ block.super }}

    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/login.css' %}">

{% endblock %}

{% block visible_content %}

	<div id = "main-content">
		<form method = "POST">
			{% csrf_token %}
			
			<p id = "page-header">Login</p>
			<hr>
			<input type = "text" name = "username" placeholder = "Username">
			<input type = "password" name = "password" placeholder = "Password">
			<input type = "submit" value = "LOGIN">
			<p class = "alt-message">Don't have an account? <a class = "alt-link" href = "{% url 'register' %}">Sign up</a></p>
		</form>
	</div>

{% endblock %}