{% extends 'core/base_unauth.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block css %}
	{{ block.super }}

    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/login.css' %}">

{% endblock %}

{% block visible_content %}

	<div id = "main-content">
		<form id = "post" method = "POST">
			{% csrf_token %}
		
			<p id = "page-header">Sign Up</p>
			<hr>
			<input type = "text" name = "username" placeholder = "Username">
			<input type = "email" name = "email" placeholder = "Email">
			<input type = "password" name = "password" placeholder = "Password">
			<input type = "password" name = "confirm-password" placeholder = "Confirm Password">
			<input class = "blue" type = "submit" value = "REGISTER">
			<p class = "alt-message">Already have an account? <a class = "alt-link green" href = "{% url 'login' %}">Login</a></p>
		</form>
	</div>

{% endblock %}