{% load static %}

<html>
<head>
	<title>Syncify</title>
	
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/room.css' %}">
	
	<style>
		@font-face {
			font-family: Roboto-Thin;
			src: url({% static 'font/roboto/Roboto-Thin.ttf' %});
		}
		@font-face {
			font-family: Roboto-Light;
			src: url({% static 'font/roboto/Roboto-Light.ttf' %});
		}
		@font-face {
			font-family: Roboto-Regular;
			src: url({% static 'font/roboto/Roboto-Regular.ttf' %});
		}
		@font-face {
			font-family: Roboto-Medium;
			src: url({% static 'font/roboto/Roboto-Medium.ttf' %});
		}
	</style>
</head>
<body>
	<div id = "player-container">
		<div id = "player">
			<div id = "song-info">
				<div id = "song-cover">
					<div id = "song-image">
						<img>
					</div>
					<div id = "sync">
						<img src = "{% static 'img/icons/sync-green-48.png' %}">
					</div>
				</div>
				<div id = "song-details">
					<p id = "song-title"></p>
					<p id = "song-artist"></p>
				</div>
				<div id = "song-progress-container">
					<p id = "song-progress-time">- : - -</p>
					<div id = "song-progress">
						<div id = "progress-complete">
							<div id = "progress-thumb">
								
							</div>
						</div>
						<div id = "progress-incomplete">
							
						</div>
					</div>
					<p id = "song-total-time">- : - -</p>
				</div>
			</div>
			<div id = "controls">
				<div id = "previous" class = "control">
					<img src = "{% static 'img/icons/rewind-white-24.png' %}">
				</div>
				<div id = "play-pause" class = "control">
					<img src = "{% if room_state.song_state.is_playing %}{% static 'img/icons/pause-white-24.png' %}{% else %}{% static 'img/icons/play-white-24.png' %}{% endif %}">
				</div>
				<div id = "next" class = "control">
					<img src = "{% static 'img/icons/fastforward-white-24.png' %}">
				</div>
			</div>
		</div>
	</div>
	<div id = "playlist-container">
		<div id = "playlist-info">
			<div id = "playlist-cover">
				<img src = "{{ room_state.playlist_state.images.0.url }}">
			</div>
			<div id = "playlist-details">
				<p id = "playlist-title"></p>
				<p id = "playlist-created">Created by <span id = "playlist-creator"></span></p>
				<p id = "playlist-count"><span id = "playlist-song-count"></span> songs</p>
			</div>
		</div>
		<div id = "playlist-songs">
			
		</div>
	</div>
	
	{% static 'img/icons/pause-white-24.png' as pausePath %}
	{% static 'img/icons/play-white-24.png' as playPath %}
	{% static '' as static_url %}
	{{ room_state|json_script:"roomState" }}
	{{ room.code|json_script:"code" }}
	{{ room_state.song_state.is_playing|json_script:"is_playing" }}
	
	<script src = "{% static 'js/jquery.js' %}"></script>
	<script src = "{% static 'js/room.js' %}"></script>
	<script type = "text/javascript">
		var code = JSON.parse(document.getElementById('code').textContent),
			staticUrl = '{{ static_url }}',
			pausePath = '{{ pausePath }}',
			playPath = '{{ playPath }}',
			playing = "{{ room_state.song_state.is_playing }}" == "True",
			roomState = JSON.parse(document.getElementById('roomState').textContent);
	</script>
</body>
</html>