{% extends 'core/base_auth.html' %}
{% load static %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/room.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/panel.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/subpanel.css' %}">

{% endblock %}

{% block page_name %}{{ room_state.playlist_state.name }}{% endblock %}

{% block page_name_after %}

	<img id = "page-link" src = "{% static 'img/icons/link-white-50.png' %}">
	<input id = "page-url" type = "text" style = "position: absolute; top: -1000px; left: -1000px;">

{% endblock %}

{% block panel_labels %}

	<p class = "panel-label selected">Home</p>
	<p class = "panel-label">Chat</p>
	<p class = "panel-label">Toke Journey</p>

{% endblock %}

{% block user_container_before %}

	<div id = "connection-container" style = "--background-image: url({% static 'img/icons/connection-white-96.png' %})">
		<div id = "connection-status"></div>
		<div id = "connection-status-label">
			<p>Disconnected</p>
		</div>
	</div>

{% endblock %}

{% block panel_container %}

	{% include 'core/blocks/panels/room/home.html' with selected=True %}
	{% include 'core/blocks/panels/room/chat.html' %}
	{% include 'core/blocks/panels/room/journey.html' %}
	
	<div id = "player-container">
		<div id = "song-info">
			<div id = "song-image">
				<img>
			</div>
			<div id = "current-song-details">
				<p id = "current-song-name"></p>
				<p id = "current-song-artist"></p>
			</div>
		</div>
		<div id = "song-controls">
			<div id = "previous" class = "control">
				<img src = "{% static 'img/icons/rewind-white-24.png' %}">
			</div>
			<div id = "play-pause" class = "control">
				<img src = "{% if room_state.song_state.is_playing %}{% static 'img/icons/pause-white-24.png' %}{% else %}{% static 'img/icons/play-white-24.png' %}{% endif %}">
			</div>
			<div id = "next" class = "control">
				<img src = "{% static 'img/icons/fastforward-white-24.png' %}">
			</div>
		</div>
		<div id = "song-progress-container">
			<p id = "song-progress-time">- : - -</p>
			<div id = "song-progress">
				<div id = "progress-complete">
					<div id = "progress-thumb">
						
					</div>
				</div>
				<div id = "progress-incomplete">
					
				</div>
			</div>
			<p id = "song-total-time">- : - -</p>
		</div>
		<div id = "extra-controls-container">
			<img id = "fullscreen" class = "extra-control" src = "{% static 'img/icons/fullscreen-white-24.png' %}">
		</div>
	</div>

{% endblock %}

{% block right_side_panel %}

	<div id = "chat-container">
		<div id = "chat-messages">
			<div class = "chat-message">
				<div class = "chat-message-info">
					<div class = "message-picture">
						{% include 'core/blocks/profile-picture.html' with width='24px' height='24px' %}
					</div>
					<p class = "message-username">{{ user.username }}</p>
				</div>
				<div class = "chat-message-text">
					{% lorem 10 w %}
				</div>
			</div>
			<div class = "chat-message">
				<div class = "chat-message-info">
					<div class = "message-picture">
						{% include 'core/blocks/profile-picture.html' with width='24px' height='24px' %}
					</div>
					<p class = "message-username">{{ user.username }}</p>
				</div>
				<div class = "chat-message-text">
					{% lorem 10 w %}
				</div>
			</div>
		</div>
	</div>
	<input id = "chat-box" type = "text" placeholder = "Write a message">

{% endblock %}

{% block js %}
	{{ block.super }}

	{% static 'img/icons/pause-white-24.png' as pausePath %}
	{% static 'img/icons/play-white-24.png' as playPath %}
	{% static '' as static_url %}
	{{ room_state|json_script:"roomState" }}
	{{ room.code|json_script:"code" }}
	{{ room_state.song_state.is_playing|json_script:"is_playing" }}
	
	<script src = "{% static 'js/room.js' %}"></script>
	<script src = "{% static 'js/panel.js' %}"></script>
	<script type = "text/javascript">
		var code = JSON.parse(document.getElementById('code').textContent),
			staticUrl = '{{ static_url }}',
			pausePath = '{{ pausePath }}',
			playPath = '{{ playPath }}',
			playing = "{{ room_state.song_state.is_playing }}" == "True",
			roomState = JSON.parse(document.getElementById('roomState').textContent);
	</script>

{% endblock %}