<div id = "tab-users" class = "tab {% if selected == True %}selected{% endif %}">
    <div id = "users-wrapper">
        <div id = "online-wrapper">
            <p class = "section-label">Online</p>
            <div id = "user-list">
                {% for user in active_users %}
    
                    <div id = "user-{{ user.username }}" class = "user" style = "--background-color: {{ user.userprofile.background_color }}">
                        {% include 'core/blocks/profile-picture.html' with width='var(--user-width)' height='var(--user-width)' %}
                        <p>{{ user.username }}</p>
                    </div>
    
                {% endfor %}
            </div>
        </div>
        <div id = "offline-wrapper">
            <p class = "section-label">Offline</p>
            <div id = "offline-user-list">
                {% for user in offline_users %}
    
                    <div id = "user-{{ user.username }}" class = "user" style = "--background-color: {{ user.userprofile.background_color }}">
                        {% include 'core/blocks/profile-picture.html' with width='var(--user-width)' height='var(--user-width)' %}
                        <p>{{ user.username }}</p>
                    </div>
    
                {% endfor %}
            </div>
        </div>
    </div>
</div>