{% load static %}
{% load util %}

<div id = "tab-users" class = "tab {% if selected == True %}selected{% endif %}">
    <div id = "users-wrapper">
        <div id = "online-wrapper">
            <p class = "section-label">Online • <span id = "user-online-count">{{ active_users|length }}</span></p>
            <div id = "user-list">
                {% for other_user in active_users %}
                    {% is_leader other_user room as is_leader %}
                    {% is_leader user room as show_admin %}

                    {% include 'core/blocks/room/user.html' with request_user=request.user user=other_user is_leader=is_leader show_admin=show_admin %}
                {% endfor %}
            </div>
        </div>
        <div id = "offline-wrapper">
            <p class = "section-label">Offline • <span id = "user-offline-count">{{ offline_users|length }}</span></p>
            <div id = "offline-user-list">
                {% for other_user in offline_users %}
                    {% is_leader other_user room as is_leader %}
                    {% is_leader user room as show_admin %}

                    {% include 'core/blocks/room/user.html' with request_user=request.user user=other_user is_leader=is_leader show_admin=show_admin %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>