<div id = "friend-{{ friend.username }}" class = "side-panel-item popup-container row top left margin">
    <input type = "hidden" name = "username" value = "{{ friend.username }}">

    <div class = "item-label-trigger left room popup-toggle">
        {% include 'core/blocks/profile-picture.html' with user=friend width='100%' height='100%' %}
        <p class = "item-label no-underline">{{ friend.username }}</p>
    </div>

    {% include 'core/blocks/previews/user-preview.html' with room=room profile=friend user=user title=friend.username header_color=friend.userprofile.color %}
</div>