<div class = "popup-element room-preview">
    <a class = "no-underline" {% block header_href %}{% endblock %}>
        <div class = "preview-header" style = "--header-color: #{{ header_color }}">
            <div class = "preview-picture-wrapper">
                <div class = "preview-picture">
                    {% block picture %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </a>
    <div class = "preview-body">
        <div class = "preview-details">
            <div class = "preview-title">
                <p>{{ title }}</p>
            </div>
        </div>

        {% block preview_body %}
        {% endblock %}
    </div>
</div>