<div class = "history-entry">
    {% if before_subject %}
        <div class = "entry-image">
            {{ before_subject }}
        </div>
    {% endif %}
    
    {% if subject %}
        <p class = "entry-subject">{{ subject }}</p>
    {% endif %}

    {% if action %}
        <p class = "entry-action">{{ action }}</p>
    {% endif %}

    {% if before_object %}
        <div class = "entry-image">
            {{ before_object }}
        </div>
    {% endif %}

    {% if object %}
        <p class = "entry-object">{{ object }}</p>
    {% endif %}
</div>