#panel-container{
	overflow: auto;
}
.panel{
	max-height: unset !important;

	overflow: unset !important;
}
#user-info-container{
	display: flex;
	justify-content: center;

	margin: var(--panel-padding) 0 calc(var(--panel-padding) * 2) 0;
}

#picture-choices-container{
    display: grid;
	grid-template-columns: repeat(6, 60px);
	grid-gap: 5px;

	margin: 10px 0;
}
.picture-choice{
	width: 60px;
	height: 60px;

    background-color: #444;
	background-image: var(--icon);
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;

    border-radius: 100%;

	cursor: pointer;
}
.picture-choice.selected{
	background-color: var(--dark-green);
}
.picture-choice:hover{
	background-color: var(--dark-green);
}