#panel-container{
	overflow: auto;
}
.panel{
	max-height: unset !important;

	overflow: unset !important;
}

#panel-container #user-card{
	margin-bottom: var(--panel-padding);

	background-color: var(--medium-black);
}

#picture-choices-container{
    display: grid;
	grid-template-columns: repeat(6, 60px);
	grid-gap: 7px;

	margin: 10px 0;
}
.picture-choice{
	--highlight-color: var(--dark-green);

	width: 60px;
	height: 60px;

    background-color: #444;
	background-image: var(--icon);
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;

    border-radius: var(--border-radius);

	cursor: pointer;
}
.picture-choice.selected{
	background-color: var(--highlight-color);
}
.picture-choice:hover{
	background-color: var(--highlight-color);
}

#authorized-status{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#status-indicator{
	height: 40px;

	padding: 10px;

	background-color: var(--dark-green);

	border-radius: 10px;

	box-sizing: border-box;
}
#authorized-status.unauthorized #status-indicator{
	background-color: var(--red);
}
#authorized-status p{
	margin-left: 10px;

	font-family: Roboto-Bold;
	font-size: 16px;
	color: white;
}