body{
	width: 100vw;
	max-height: 100%;
	
	display: flex;
	flex-direction: column;

	position: relative;

	font-family: Roboto-Regular;

	background-color: var(--black);
	
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}

/* #region GENERAL */

	a{
		text-decoration: none;
		text-underline-offset: 1px;
		color: inherit;
	}
	a:not(.no-underline):hover *{
		text-decoration: underline;
	}

	/* #region ITEM LABELS */

		.item-label-trigger:hover .item-label, .popup-container:not(.open) .side-panel-item.item-label-trigger:hover .item-label, .side-panel-items-controller .popup-element:hover .item-label{
			visibility: visible;

			opacity: 1;
		}

		.item-label{
			position: absolute;

			padding: 8px;

			font-family: Roboto-Medium;
			font-size: 14px;
			white-space: nowrap;
			color: white;

			background-color: var(--black);

			border-radius: var(--border-radius);

			box-shadow: 0 0 14px rgb(8, 8, 8);

			opacity: 0;

			transition: all .1s ease;

			visibility: hidden;

			z-index: 20;
		}

		.item-label-trigger.top .item-label{ bottom: calc(100% + var(--panel-padding) / 2); }
		.item-label-trigger.bottom .item-label{ top: calc(100% + var(--panel-padding) / 2); }
		.item-label-trigger.left .item-label, #right-side-panel .side-panel-items-controller .item-label{ right: calc(100% + var(--panel-padding)); }
		.item-label-trigger.right .item-label{ left: calc(100% + var(--panel-padding)); }
		.item-label-trigger.left .item-label, #right-side-panel .side-panel-items-controller .item-label, .item-label-trigger.right .item-label{
			top: calc(50% - 15px);
		}
	
	/* #endregion */

	/* #region USER CARD */

		#user-card{
			width: fit-content;

			display: flex;
			align-self: center;
			flex-direction: column;

			border-radius: var(--border-radius);

			overflow: hidden;

			box-sizing: border-box;
		}
		#user-card-identity, #user-card-showcase{
			display: flex;
			align-items: center;
			flex-direction: column;

			box-sizing: border-box;
		}
		#user-card-identity{
			justify-content: center;

			padding: var(--panel-padding) calc(var(--panel-padding) * 2);
		}
		#user-card-showcase{
			--background-color: var(--dark-green);

			padding: var(--panel-padding);

			background-color: var(--background-color);
		}
		#user-identity-username{
			margin-top: calc(var(--panel-padding) / 2);

			font-family: Roboto-Bold;
			font-size: 22px;
			color: white;
		}
		#user-identity-tagline{
			margin-top: 1px;

			font-size: 12px;
			color: #aaa;
		}
		.user-showcase-group{
			width: 100%;

			display: flex;
			flex-direction: column;
		}
		.showcase-group-label{
			font-family: Roboto-Medium;
			font-size: 12px;
			text-transform: uppercase;
			color: white;
		}
		.showcase-group-content{
			width: 100%;

			display: flex;

			margin-top: 4px;
		}
		#user-showcase-rooms{
			min-width: 140px;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-gap: 5px;
		}
		.showcase-room{
			width: 100%;

			padding-top: 100%;

			background-color: rgba(0, 0, 0, .1);
			background-image: var(--background-image);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			border-radius: var(--border-radius);
		}

	/* #endregion */

	/* #region PROFILE PICTURE */

		.profile-picture{
			--width: 200px;
			--height: 200px;
		
			width: var(--width);
			height: var(--height);
			
			display: flex;
			align-items: center;
			justify-content: center;
		
			position: relative;
		
			border-radius: var(--border-radius);
			
			overflow: hidden;
		
			box-sizing: border-box;
		}
		.profile-picture img{
			width: auto;
			height: var(--height);
		}
		.profile-picture img.default{
			width: auto;
			height: 60% !important;
		}

	/* #endregion */

/* #endregion */

/* #region NAVIGATION */

	#nav{
		width: 100%;
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		padding: var(--panel-padding);
		
		box-sizing: border-box;
	}
	.nav-section{
		display: flex;
		align-items: center;
	}
	.nav-section:last-child > *:not(:first-child){
		margin-left: 15px;
	}
	#logo{
		height: 2rem;
		
		margin-right: 1rem;
	}
	#page-info{
		display: flex;
		align-items: center;
	}
	#page-name{
		font-family: Roboto-Medium;
		font-size: 1.5rem;
		color: white;
	}

	#user-section{
		height: 40px;

		justify-content: flex-end;

		position: relative;
	}

	/* #region USER UTILITIES */

		#user-utilities{
			height: 100%;

			display: flex;
			align-items: center;
		}
		.user-utility{
			height: 36px;
		}
		.user-utility:not(:first-child){
			margin-left: 10px;
		}
		.user-utility .popup-element{
			width: 400px;

			padding: var(--panel-padding);

			box-sizing: border-box;
		}
		#user-utilities .popup-toggle{
			width: 36px;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: var(--border-radius);
		}
		#user-utilities .popup-toggle img{
			height: 50%;
		}

		/* #region CONNECTIONS */

			#connection-container.connected .popup-toggle, .connection.connected .connection-icon{ background-color: var(--dark-green); }
			#connection-container.connected .popup-toggle:hover{ background-color: var(--dark-green-hover); }
			#connection-container.disconnected .popup-toggle, .connection.disconnected .connection-icon{ background-color: var(--red); }
			#connection-container.disconnected .popup-toggle:hover{ background-color: var(--red-hover); }
			#connection-container.mixed .popup-toggle{ background-color: var(--gold); }
			#connection-container.mixed .popup-toggle:hover{ background-color: var(--gold-hover); }
		
			#connection-list{
				display: flex;
				flex-direction: column;
			}
			.connection{
				width: 100%;
		
				display: flex;
				align-items: center;
		
				border-radius: var(--border-radius);
		
				box-sizing: border-box;
			}
			.connection.template{
				display: none;
			}
			.connection:not(:first-child){
				margin-top: var(--panel-padding);
			}
			.connection-icon{
				width: 36px;
				height: 36px;
		
				display: flex;
				align-items: center;
				justify-content: center;
		
				background-color: var(--medium-black);
		
				border-radius: var(--border-radius);
			}
			#connection-list .connection-icon{
				margin-right: 10px;
			}
			.connection-icon img.connected{
				display: none;
			}
			.connection-icon img{
				height: 50%;
			}
			.connection-name{
				font-family: Roboto-Medium;
				font-size: 16px;
				color: white;
			}

		/* #endregion */

		/* #region NOTIFICATIONS */

			#notification-container .popup-toggle{
				position: relative;
			}
			#notification-badge{
				display: none;
			
				position: absolute;
				top: -6px;
				left: calc(100% - 8px);
			
				padding: 2px 5px;
			
				background-color: var(--red);
			
				font-family: Roboto-Bold;
				font-size: 10px;
				color: white;
			
				border-radius: 4px;
			}
			#notification-badge.show{
				display: block;
			}
			#notifications-wrapper{
				max-height: 400px;
			
				overflow-y: auto;
			}
			#notification-list{
				display: flex;
				flex-direction: column;
			}
			.notification{
				width: 100%;
			
				display: flex;
			}
			.notification.text{
				display: flex;
				align-items: center;
			
				font-size: 14px;
				color: #eee;
			}
			.notification.text img{
				height: 18px;
			
				margin-right: var(--panel-padding);
			}
			#notification-list .notification:not(:first-child){
				margin-top: calc(var(--panel-padding) / 2);
			}
			.notification .profile-picture{
				margin-right: 10px;
			}
			.notification-details{
				display: flex;
				flex: 1;
			
				margin-top: 10px;
			}
			.notification-details p{
				line-height: 16px;
			}
			.notification-sender{
				font-family: Roboto-Bold;
				font-size: 14px;
				color: white;
			}
			.notification-message{
				font-size: 13px;
				color: #ccc;
			}
			.notification-object{
				font-family: Roboto-Medium;
				font-size: 14px;
				color: white;
			}
			.notification-actions{
				height: 36px;
			
				display: flex;
				align-items: center;
			
				margin-left: var(--panel-padding);
			}
			.notification-action{
				width: 30px;
				height: 30px;
			
				display: flex;
				align-items: center;
				justify-content: center;
			
				background-color: var(--medium-black);
			
				border-radius: var(--border-radius);
			
				cursor: pointer;
			}
			.notification-action:hover{
				background-color: #333;
			}
			.notification-action.close{
				display: none;
			}
			.notification-action.deny, .preview-option.deny{ background-color: var(--red) !important; }
			.notification-action.accept, .preview-option.accept{ background-color: var(--dark-green) !important; }
			.notification-action.deny:hover, .preview-option.deny:hover{ background-color: var(--red-hover) !important; }
			.notification-action.accept:hover, .preview-option.accept:hover{ background-color: var(--dark-green-hover) !important; }
			.notification-action:not(:first-child), .notification-action.close{
				margin-left: calc(var(--panel-padding) / 2);
			}
			.notification-action img{
				height: 60%;
			}
			
			.notification-icon{
				width: 36px;
				height: 36px;
			
				display: flex;
				align-items: center;
				justify-content: center;
			
				margin-right: 10px;
			
				background-color: var(--medium-black);
			
				border-radius: var(--border-radius);
			}
			.notification-icon img{
				height: 50%;
			}

		/* #endregion */

	/* #endregion */

	/* #region USER CONTAINER */

		#user-container{
			height: 100%;

			display: flex;
			align-items: center;

			background-color: var(--light-black);

			border-radius: var(--border-radius);
		}
		#user-profile-picture{
			width: 36px;
			height: 36px;

			display: flex;
			justify-content: center;

			background-color: var(--light-black);

			border-radius: var(--border-radius);

			overflow: hidden;

			box-sizing: border-box;
		}
		#user-profile-picture img{
			height: 100%;

			border-radius: var(--border-radius);
		}
		#user-container-username{
			margin: 0 15px;

			font-family: Roboto-Bold;
			font-size: 14px;
			color: white;
		}
		#user-section .popup-toggle{
			background-color: var(--light-black);
		}
		#user-section .popup-toggle:hover{
			background-color: rgb(44, 44, 46);
		}
		#user-dropdown-options{
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			flex: 1;

			box-sizing: border-box;
		}
		.dropdown-option{
			width: 100%;

			padding: 14px calc(var(--panel-padding) * 4);

			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			color: white;

			background-color: var(--medium-black);

			box-sizing: border-box;
		}
		.dropdown-option.logout{
			font-family: Roboto-Bold;
			font-size: 12px;
		}
		.dropdown-option:hover{
			background-color: rgb(40, 40, 42);
		}
		#user-section #user-card{
			border-radius: 0;
		}

	/* #endregion */

/* #endregion */

/* #region CONTAINER */

	#container{
		width: 100%;
		height: 100%;
		
		display: flex;
		flex: 1;
		
		overflow: hidden;
		
		box-sizing: border-box;
	}

	#panel-container{
		width: 100%;
		
		display: flex;
		flex-direction: column;
		flex: 1;
		
		padding: var(--panel-padding);
		
		background-color: var(--light-black);
		
		overflow: auto;
		
		box-sizing: border-box;
	}

	/* #region Side Panels */

		.side-panel-container{
			--side-panel-width: fit-content;

			width: var(--side-panel-width);
			min-width: var(--side-panel-width);
			max-width: var(--side-panel-width);
			
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			padding: var(--panel-padding);
			
			background-color: var(--medium-black);
			
			box-sizing: border-box;
		}

		.section-label{
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #ddd;
		}

		.side-panel-items{
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		.side-panel-item{
			display: flex;
			align-items: center;
		}
		.item-label-trigger{
			position: relative;
		}
		.side-panel-items-group{
			display: none;
		}
		.side-panel-items-group.selected{
			display: block;
		}
		.side-panel-items-subgroup.actions .side-panel-item{
			width: 36px;
			height: 36px;

			display: flex;
			align-items: center;
			justify-content: center;

			background-color: #222;

			border-radius: var(--border-radius);
		}
		.side-panel-items-subgroup.actions .popup-toggle:hover{
			background-color: #292929;
		}
		.side-panel-items-subgroup.actions .side-panel-item img{
			height: 50%;
		}
		.side-panel-items-subgroup.grayscale .popup-toggle > :first-child{
			filter: grayscale(100%) brightness(.5);
		}

		.popup-container .side-panel-item:hover .item-picture{
			transform: scale(1.12);
		}
		.side-panel-items .margin{
			margin-top: var(--panel-padding);
		}
		.side-panel-item .item-picture, .side-panel-items-controller, .selector-option{
			width: 36px;
			height: 36px;
	
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.side-panel-item .item-picture{
			position: relative;
	
			background-image: var(--background-image);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
	
			border-radius: var(--border-radius);
	
			box-sizing: border-box;
	
			transition: all .07s ease-out;
		}
		.side-panel-items-controller .popup-element.open{
			visibility: visible !important;
	
			opacity: 1 !important;
	
			overflow: visible;
		}
		.side-panel-items-controller .selector{
			width: 100%;
			height: 100%;
	
			display: flex;
			align-items: center;
			justify-content: center;
	
			background-color: #252525;
	
			border-radius: var(--border-radius);
	
			box-sizing: border-box;
		}
		.side-panel-items-controller .selector img, .selector-option img{
			height: 18px;
		}
		.side-panel-items-controller .popup-element{
			height: 100%;
	
			display: flex;
	
			top: 0;
			right: 0;
	
			color: white;
	
			transform: scale(1);
		}
		.selector-options{
			display: flex;
	
			border-radius: var(--border-radius);
	
			overflow: hidden;
		}
		.selector-option{
			position: relative;
	
			cursor: pointer;
		}
		.selector-option:hover{
			background-color: #292929;
		}
	
		.side-panel-items-divider{
			width: 75%;
			height: 1px;
	
			background-color: #444;
	
			margin-top: var(--panel-padding);
		}
	
		#add-friend input{
			margin: 0;
		}
		#add-friend .preview-body{
			flex-direction: row;
		}
		#add-friend .preview-options{
			width: fit-content;
	
			margin: 0 0 0 var(--panel-padding);
		}
	
		.playing-overlay{
			width: 100%;
			height: 100%;
	
			position: absolute;
			top: 0;
			left: 0;
	
			background-image: var(--background-image);
			background-position: center;
			background-size: 16px 16px;
			background-repeat: no-repeat;
			background-color: rgba(0, 0, 0, .5);
	
			border-radius: var(--border-radius);
	
			box-sizing: border-box;
		}

		/* #region PREVIEWS */

			.room-preview{
				min-width: 300px;

				display: flex;
				flex-direction: column;

				top: calc(0px - var(--panel-padding)) !important;

				z-index: 21;
			}
			.preview-header-wrapper:before{
				content: '';
				
				padding-top: calc(0px + (9/16 * 100%));
			}
			.preview-header{
				--header-color: rgb(10, 100, 150);

				width: 100%;
				height: 100px;

				position: relative;

				margin-bottom: 10px;

				border-radius: var(--border-radius) var(--border-radius) 0 0;

				background-color: var(--header-color);

				transition: all .07s ease;

				box-sizing: border-box;
			}
			.preview-picture-wrapper{
				width: 70px;
				height: 70px;

				position: absolute;
				top: calc(100% - 50px);
				left: calc(var(--panel-padding) - 6px);

				padding: 6px;

				background-color: var(--light-black);

				border-radius: var(--border-radius);

				box-sizing: border-box;
			}
			.preview-picture{
				width: 100%;
				height: 100%;

				background-color: var(--black);

				border-radius: var(--border-radius);

				overflow: hidden;
			}
			.preview-picture img{
				width: 100%;
				height: 100%;
			}
			.preview-body{
				display: flex;
				flex-direction: column;

				padding: var(--panel-padding);

				box-sizing: border-box;
			}
			.preview-details{
				width: 100%;

				display: flex;
				flex-direction: column;
			}
			.preview-title{
				font-family: Roboto-Medium;
				font-size: 20px;
				color: white;
			}
			.preview-subtitle{
				margin-top: 2px;

				font-size: 12px;
				color: #aaa;
			}
			.join-room{
				width: 100%;

				padding: 8px 14px;

				margin-top: var(--panel-padding) !important;
			}
			.join-room:hover{
				filter: brightness(120%) contrast(80%);
			}
			.preview-options{
				width: 100%;

				display: flex;
				justify-content: flex-end;

				margin-top: var(--panel-padding);

				box-sizing: border-box;
			}
			.preview-option{
				width: 36px;
				height: 36px;

				display: flex;
				align-items: center;
				justify-content: center;
				
				background-color: var(--medium-black);

				border-radius: var(--border-radius);

				cursor: pointer;
			}
			.preview-option:hover{ background-color: #333; }
			.preview-option.blue:hover{ background-color: var(--blue); }
			.preview-option.red:hover{ background-color: var(--red); }
			.preview-option.green:hover{ background-color: var(--dark); }
			.preview-option:not(:first-child){
				margin-left: calc(var(--panel-padding) / 2);
			}
			.preview-option img{
				width: 18px;
				height: 18px;
			}
			.preview-join{
				height: 100%;

				display: flex;
				align-items: center;
			}
			.preview-join img{
				height: 20px;
			}
			.preview-users-container{
				display: flex;
				flex-direction: column;
				flex: 1;

				margin-top: var(--panel-padding);

				overflow-y: hidden;
			}
			.preview-users-wrapper{
				width: 100%;

				margin-top: 8px;

				overflow: hidden;
			}
			.preview-users{
				--container-width: calc(100% / 3);

				display: grid;
				grid-template-columns: repeat(6, minmax(0, 1fr));
			}
			.preview-users > *{
				width: fit-content;
			}

		/* #endregion */

	/* #endregion */

/* #endregion */

/* #region ANNOUNCEMENTS */

	#user-message-container{
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 0;
		left: 0;

		background-color: rgba(0, 0, 0, .6);

		z-index: 10;
	}
	#new-user-message{
		max-width: 500px;

		display: flex;
		align-items: center;
		flex-direction: column;

		padding: 20px 30px;

		background-color: var(--medium-black);

		border-radius: var(--border-radius);

		box-shadow: 0 0 10px rgba(0, 0, 0, .5);

		box-sizing: border-box;
	}
	#new-user-message img{
		height: 75px;

		border-radius: var(--border-radius);
	}
	#message-title{
		margin-top: 10px;

		font-family: Roboto-Bold;
		font-size: 32px;
		text-align: center;
		color: white;
	}
	#message-body{
		margin: 15px 0;

		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #bbb;
	}
	.inline-tab{
		margin: 10px 0;
		padding: 10px 14px;

		text-transform: uppercase;
		color: white;

		background-color: var(--light-black);
	}
	#message-tips{
		width: 100%;

		display: flex;
		flex-direction: column;
	}
	.message-tip{
		padding: 8px 10px;

		font-size: 12px;
		text-align: center;
		color: #ccc;

		background-color: var(--light-black);

		border-radius: 10px;
	}
	.message-tip:not(:first-child){
		margin-top: 5px;
	}
	#new-user-message .settings-actions{
		justify-content: center;
	}

/* #endregion */

/* #region POPUP CONTAINERS */

	.popup-container{
		position: relative;
	}
	.popup-container.column.top .popup-element{ bottom: calc(100% + 10px); }
	.popup-container.column.bottom .popup-element{ top: calc(100% + 10px); }
	.popup-container.column.left .popup-element{ left: 0; }
	.popup-container.column.right .popup-element{ right: 0; }

	.popup-container.row.top .popup-element{ top: 0; }
	.popup-container.row.bottom .popup-element{ bottom: 0; }
	.popup-container.row.left .popup-element{ right: calc(100% + 10px); }
	.popup-container.row.right .popup-element{ left: calc(100% + 10px); }

	.popup-container:not(.barebones) .popup-toggle{
		cursor: pointer;
	}
	.popup-container.barebones .popup-toggle{
		padding: 2px 0;
	}
	.popup-element, #temp-notifications .notification, #history-entries .history-entry{
		height: fit-content;

		background-color: var(--light-black);

		border-radius: var(--border-radius);

		box-shadow: 0 0 14px rgb(8, 8, 8);

		transition: all .1s ease;

		cursor: auto;

		z-index: 20;
	}
	.popup-element{
		position: absolute;

		opacity: 0;

		visibility: hidden;
	}
	.popup-element .header{
		width: 100%;
	
		display: flex;
		align-items: center;
		justify-content: space-between;
	
		margin-bottom: var(--panel-padding);
	}
	.popup-element .header p{
		font-family: Roboto-Medium;
		font-size: 18px;
		color: white;
	}

/* #endregion */

/* #region TEMPORARY NOTIFICATIONS */

	#temp-notifications{
		display: flex;
		align-items: flex-end;
		flex-direction: column;

		position: absolute;
		bottom: 0;
		right: calc(var(--panel-padding) * 2 + 36px);

		margin: var(--panel-padding);

		z-index: 50;
	}
	#temp-notifications .notification{
		width: fit-content;

		padding: 10px;

		box-sizing: border-box;
	}

	#temp-notifications .notification:not(:first-child){
		margin-top: calc(var(--panel-padding) / 2);
	}

	#temp-notifications .notification-action.close{
		display: flex !important;
	
		margin-top: auto;
		margin-bottom: auto;
	}

/* #endregion */

/* #region FOOTER */

	#mini-footer{
		display: none;
		align-items: center;
		flex-direction: column;
	}
	#footer-logo{
		display: flex;
		align-items: center;
	}
	#footer-logo img{
		height: 25px;
	}
	#footer-copyright{
		margin-left: 10px;
		
		font-size: 12px;
		color: #bbb;
	}
	#footer-links{
		display: flex;

		margin: 5px 0;
	}
	.footer-link{
		padding: 4px;

		border-radius: 100%;

		box-sizing: border-box;

		cursor: pointer;
	}
	#footer-links > *:not(:first-child){
		margin-left: 5px;
	}
	.footer-link img{
		height: 20px;
	}
	.footer-link:hover{
		background-color: var(--red);
	}

/* #endregion */

/* #region MEDIA QUERIES */

	@media (min-width:320px){ /* smartphones, iPhone, portrait 480x320 phones */
		
	}
	@media (min-width:481px){ /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
		
	}
	@media (min-width:641px){ /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
		
	}
	@media (min-width:961px){ /* tablet, landscape iPad, lo-res laptops ands desktops */
		
	}
	@media (min-width:1025px){ /* big landscape tablets, laptops, and desktops */
		
	}
	@media (min-width:1281px){ /* hi-res laptops and desktops */
		
	}

/* #endregion */