:root{
	--light-green: #73d073;
	--dark-green: #00b95e;
	--black: #0b0b0b;
	--medium-black: #141414;
	--light-black: #1f1f1f;
	--red: #ef3333;

	--panel-padding: 20px;
	--border-radius: 20px;
}
*{
	margin: 0;
	padding: 0;
}

hr{
	width: 50%;
	
	align-self: center;
	
	margin: 10px 0;
	
	border-color: #777;
}

::-webkit-scrollbar { width: 8px; height: 3px; }
::-webkit-scrollbar-track {  background-color: transparent; }
::-webkit-scrollbar-track-piece { background-color: transparent; }
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px; }
::-webkit-scrollbar-corner { background-color: #646464; }
::-webkit-resizer { background-color: #666; }
::-webkit-scrollbar-button { display: none; }