body{
	width: 100vw;
	min-height: calc(100vh);
	max-height: calc(100vh);
	
	display: flex;
	flex-direction: column;
	
	font-family: Roboto-Regular;

	background-color: var(--black);
	
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}

#nav{
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding: 20px;
	
	box-sizing: border-box;
}
.nav-section{
	display: flex;
	align-items: center;
}
.nav-section:last-child > *:not(:first-child){
	margin-left: 15px;
}
#logo{
	width: 38px;
	height: 38px;
	
	margin-right: 20px;
}
#page-info{
	display: flex;
	align-items: center;
}
#page-name{
	font-family: Roboto-Medium;
	font-size: 24px;
	color: white;
}
.profile-picture-container{
	--width: 200px;
	--height: 200px;

	width: var(--width);
	height: var(--height);
	
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	
	background-color: var(--background-color);

	/*border: calc(var(--height) / 12) solid rgba(0, 0, 0, .4);*/

	border-radius: calc(var(--width) / 4);
	
	overflow: hidden;

	box-sizing: border-box;
}
.profile-picture{
	--background-color: #333;

	width: 100%;
	height: 50%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.profile-picture-icon{
	width: calc(var(--height) / 2) !important;
	height: 100%;

	background-color: var(--icon-color);
	-webkit-mask-box-image: var(--background-image);
}

#user-section{
	justify-content: flex-end;
}
#user-container{
	display: flex;
}
#user-profile-picture{
	width: 30px;
	height: 30px;
	
	background-color: white;
	
	border-radius: 100%;
}

#container{
	width: 100%;
	height: 100%;
	
	display: flex;
	
	overflow: hidden;
	
	box-sizing: border-box;
}

.side-panel-container{
	--side-panel-width: 250px;

	width: var(--side-panel-width);
	min-width: var(--side-panel-width);
	max-width: var(--side-panel-width);
	
	display: flex;
	flex-direction: column;
	
	padding: 20px;
	
	background-color: var(--medium-black);
	
	box-sizing: border-box;
}
.list-section{
	width: 100%;
	
	display: flex;
	flex-direction: column;
}
.section-label{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ddd;
}
.section-items{
	display: flex;
	flex-direction: column;
	
	margin-top: 8px;
}
.section-item{
	display: flex;
	align-items: center;
}
.section-item:not(.room):hover .item-label{
	text-decoration: underline;
	text-underline-offset: 2px;
}
.section-item:not(:first-child){
	margin-top: 6px;
}
.item-label{
	font-size: 14px;
	color: white;
}
.section-item.room{
	padding: 5px;

	border-radius: 9px;

	box-sizing: border-box;
}
.section-item.room:hover{
	background-color: #2c2c2c;
}
.section-item.room .item-label{
	margin-left: 6px;
}
.item-picture{
	width: 24px;
	height: 24px;

	background-image: var(--background-image);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--dark-green);

	border-radius: 7px;

	box-sizing: border-box;
}

#panel-container{
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	
	padding: 20px;
	
	background-color: var(--light-black);
	
	overflow: hidden;
	
	box-sizing: border-box;
}

.subtitle-container{
	position: relative;
}
.subtitle-image{
	display: block;

	background-image: var(--background-image);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.subtitle-image.colored{
	background-image: unset;
	background-color: var(--background-color);
	-webkit-mask-box-image: var(--background-image);
}
.subtitle-container:hover .subtitle-label{
	display: flex;
}
.subtitle-label{
	display: none;
	justify-content: center;

	width: 100%;

	position: absolute;
	top: calc(100% + 3px);
	left: 0;

	box-sizing: border-box;

	z-index: 5;
}
.subtitle-label p{
	padding: 6px 10px;

	background-color: black;

	font-size: 12px;
	color: white;
	text-align: center;

	border-radius: 10px;
}

#user-card{
	width: fit-content;

	display: flex;
	align-self: center;
	flex-direction: column;

	margin-bottom: var(--panel-padding);

	background-color: var(--medium-black);

	border-radius: var(--border-radius);

	overflow: hidden;

	box-sizing: border-box;
}
#user-card-identity, #user-card-showcase{
	display: flex;
	align-items: center;
	flex-direction: column;

	box-sizing: border-box;
}
#user-card-identity{
	justify-content: center;

	padding: var(--panel-padding) calc(var(--panel-padding) * 2);
}
#user-card-showcase{
	--background-color: var(--dark-green);

	padding: var(--panel-padding);

	background-color: var(--background-color);
}
#user-identity-username{
	margin-top: calc(var(--panel-padding) / 2);

	font-family: Roboto-Bold;
	font-size: 22px;
	color: white;
}
#user-identity-tagline{
	margin-top: 1px;

	font-size: 12px;
	color: #aaa;
}
.user-showcase-group{
	width: 100%;

	display: flex;
	flex-direction: column;
}
.showcase-group-label{
	font-family: Roboto-Medium;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
}
.showcase-group-content{
	width: 100%;

	display: flex;

	margin-top: 4px;
}
#user-showcase-rooms{
	min-width: 140px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}
.showcase-room{
	width: 100%;

	padding-top: 100%;

	background-color: rgba(0, 0, 0, .1);
	background-image: var(--background-image);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	border-radius: 10px;
}

a{
	text-decoration: none;
	text-underline-offset: 1px;
	color: inherit;
}
a:not(.no-underline):hover *{
	text-decoration: underline;
}