#authorize-link input{
    width: fit-content;

    background-color: var(--dark-green);

    margin: 0;
}

#welcome-container{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: var(--panel-padding);
}
#welcome-user-picture{
    width: 250px;
    height: 250px;

    background-color: white;

    border-radius: 100%;
}
#welcome-message{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: var(--panel-padding);
}
#welcome-text{
    font-family: Roboto-Medium;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--light-green);
}
#welcome-user-name{
    font-family: Roboto-Medium;
    font-size: 36px;
    color: white;
}

.widget-container{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}
.widget-list{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;
}
.widget-list-header{
    width: fit-content;

    display: flex;
    align-items: center;
    
    margin-bottom: 10px;
}
.widget-list-actions{
    height: 20px;

    display: flex;
    align-items: center;

    margin-left: 10px;
}
.widget-list-action{
    height: 100%;
}
.widget-list-action img{
    height: 100%;
}
.widget-list-label{
    margin-left: 10px;

    font-family: Roboto-Medium;
	font-size: 28px;
	color: white;
}
.widget-list.main{
    margin-bottom: var(--panel-padding);
}
.widget-list:not(:first-child){
    margin-top: var(--panel-padding);
}
.widgets{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--panel-padding);
}
.widget{
    --background-color: var(--medium-black);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    position: relative;

    padding: var(--panel-padding);

    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;

    border-radius: 20px;

    overflow: hidden;

    box-sizing: border-box;

    cursor: pointer;
}
.widget.fake{
    background-color: unset;
}
.widget.action{
    --initial-color: #656565;
    --hover-color: var(--dark-green);

    align-items: center;
    justify-content: center;

    border: 2px solid var(--initial-color);

    transition: all .05s ease;
}
.widget.green{
    --background-color: var(--dark-green);
}
.widget.link{
    background-color: var(--background-color);
}
.widget.selector{
    border: 2px solid transparent;

    opacity: 1;
}
.widget.selector.selected{
    border-color: var(--dark-green);
}
.widget.selector.unselected{
    opacity: .4;
}
.widget.selector:not(.selected):hover{
    opacity: 1;

    border-color: #2f7d56;
}
.widget.action:hover{
    border-color: var(--hover-color);
}
.widget.action:hover .widget-action-image{
    background-color: var(--hover-color);
}
.widget:hover{
    background-color: #2b2b2b;
}
.widget-image{
    width: 100%;

    padding-top: 100%;

    background-color: rgba(0, 0, 0, .4);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: calc(var(--border-radius) - 5px);
}
.widget-action-image{
    width: 50px;
    height: 50px;

    background-color: var(--initial-color);
	-webkit-mask-box-image: var(--background-image);

    transition: all .05s ease;
}
.widget.no-padding{
    padding: 0;
}

.widget-info{
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: var(--panel-padding);

    box-sizing: border-box;

    overflow: hidden;
}
.widget-type{
    display: flex;
    align-items: center;
}
.widget-type img{
    height: 14px;

    display: none;

    margin-right: 2px;
}
.widget-type p{
    font-family: Roboto-Medium;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--light-green);
}
.widget-name{
    font-family: Roboto-Medium;
    font-size: 22px;
    color: white;
}
.widget-list.small .widget-name{
    font-size: 18px;
}

.widget-button-list{
    width: 100%;

    display: flex;
    justify-content: center;
}
.widget-button{
    --background-color: var(--dark-green);

    padding: 10px;

    background-color: var(--background-color);

    border-radius: 100%;

    box-sizing: border-box;
}
.widget-button:not(:first-child){
    margin-left: 10px;
}
.widget-button img{
    height: 32px;
}

#widget-user-info .user-icon{
    height: 60px;
}
#widget-user-cover{
    width: 100%;
    height: 100px;

    position: relative;

    background-color: var(--background-color);
}
#widget-user-cover .profile-picture-container{
    position: absolute;
    top: calc(100% - var(--height) / 2);
    left: calc(50% - var(--width) / 2);

    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
#widget-user-details{
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 55px;
}
#widget-user-name{
    font-family: Roboto-Medium;
    font-size: 28px;
}
.user-username-container{
    font-size: 10px;
    color: #bbb;
}
.user-username{
    margin-left: 1px;

    font-size: 12px;
}

.quick-action{
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--dark-green);

    border-radius: var(--border-radius);

    box-sizing: border-box;
}
.action-image{
    height: 40px;

    margin: 10px 0 10px 0;
}
.action-label{
    font-family: Roboto-Medium;
    font-size: 14px;
    color: white;
}

#no-rooms-container{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#no-rooms-container p{
    margin-top: 10px;

    font-family: Roboto-Bold;
    font-size: 24px;
    color: white;
}