#authorize-link input{
    width: fit-content;

    background-color: var(--dark-green);

    margin: 0;
}

#welcome-container{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: var(--panel-padding);
}
#welcome-user-picture{
    width: 250px;
    height: 250px;

    background-color: white;

    border-radius: 100%;
}
#welcome-message{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: var(--panel-padding);
}
#welcome-text{
    font-family: Roboto-Medium;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--light-green);
}
#welcome-user-name{
    font-family: Roboto-Medium;
    font-size: 36px;
    color: white;
}

.pfp-wrapper{
    width: 100%;

    position: relative;

    padding-top: 100%;

    z-index: 10;
}
.pfp-wrapper .profile-picture-container{
    position: absolute;
    top: 0;
    left: 0;

    transition: all .05s ease;

    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.room{
    width: 100%;

    display: flex;

    background-color: var(--light-black);

    border-radius: var(--border-radius);

    overflow: hidden;

    transition: all .1s ease;

    cursor: pointer;
}
.room-cover{
    position: relative;
}
.room-image{
    width: 100%;
    height: 100%;

    flex: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.room-playing{
    display: flex;
    align-items: center;

    position: absolute;

    border-radius: var(--border-radius);
}
.room-playing p{
    margin-left: 10px;

    font-family: Roboto-Medium;
    font-size: 1rem;
    text-transform: uppercase;
}
.room-info{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    padding: var(--panel-padding);

    background-color: var(--light-black);
}
.room-name{
    font-family: Roboto-Medium;
}
.room-users{
    display: flex;
    align-items: center;

    margin-top: 5px;
}
.room-users > *:not(:first-child){
    margin-left: 4px;
}
.room-users p{
    margin-left: 6px !important;

    font-family: Roboto-Medium;
    font-size: .8rem;
}

.room .label-image{
    margin-right: 4px;
}
.room.playing .label-image{
    filter: invert(50%) sepia(85%) saturate(1210%) hue-rotate(319deg) brightness(100%) contrast(110%);

    opacity: 1;
}

/* #region MEDIA QUERIES */

    @media (min-width:320px){ /* smartphones, iPhone, portrait 480x320 phones */
        /* #region ROOMS */

            .room{
                height: 6rem;

                flex-direction: row;
            }
            .room.tapped{
                transform: scale(1.03);
            }
            .room-cover{
                width: 6rem;
                height: 6rem;
            }
            .room-image{
                border-radius: var(--border-radius);
            }
            .room-info{
                width: auto;
            }
            .room-playing{
                width: 100%;
                height: 100%;

                justify-content: center;

                top: 0;
                left: 0;

                background-color: rgba(0, 0, 0, .2);
            }
            .room-playing img{
                height: 1.8em;

                margin: 0;
            }
            .room-playing p{ display: none; }

            .room-name{
                font-size: 1.8rem;
            }
            .room-users > *{
                --width: 1.8em !important;
                --height: 1.8em !important;
            }

            .room .label-image{
                height: 1.4em;
            }
        
        /* #endregion */
    }
    @media (min-width:481px){ /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        /* #region ROOMS */

            .room{
                height: 100%;

                flex-direction: column;
            }
            .room:hover{
                transform: scale(1.03);
            }
            .room-cover{
                width: 100%;
                height: unset;

                display: flex;
            }
            .room-cover:after{
                content: '';
            
                padding-top: 100%;
            }
            .room-image{
                border-radius: 0;
            }
            .room-playing{
                width: unset;
                height: unset;

                top: calc(var(--panel-padding) / 2);
                left: calc(var(--panel-padding) / 2);

                padding: 6px 10px;

                background-color: var(--medium-black);
            }
            .room-playing img{
                height: 1em;
            }
            .room-playing p{
                display: block;
                
                font-family: Roboto-Medium;
                font-size: 1rem;
            }

            .room-name{
                font-size: 1.6rem;
            }
            .room-users > *{
                --width: 1.4em !important;
                --height: 1.4em !important;
            }
        
            .room .label-image{
                height: 1.2em;
            }

        /* #endregion */
    }
    @media (min-width:641px){ /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        
    }
    @media (min-width:961px){ /* tablet, landscape iPad, lo-res laptops ands desktops */
        
    }
    @media (min-width:1025px){ /* big landscape tablets, laptops, and desktops */
        
    }
    @media (min-width:1281px){ /* hi-res laptops and desktops */
        
    }

/* #endregion */