form{
	display: flex;
	flex-direction: column;
}

#page-header{
	align-self: center;
	
	margin: 0;

	font-family: Roboto-Medium;
	font-size: 36px;
	color: white;
}
.alt-message{
	align-self: center;
	
	font-size: 12px;
}
.alt-link{
	font-family: Roboto-Medium;
	color: #07ace5;
}
.alt-link.green{
	color: var(--dark-green);
}
.alt-link:hover{
	text-decoration: underline;
	text-underline-offset: 1px;
}