.panel{
	width: 100%;
	
	display: none;
	flex-direction: column;
	flex: 1;
	
	box-sizing: border-box;
}
.panel.selected{
	display: flex;
}
.panel.no-scrolling{
	overflow: hidden;
}

#panel-labels{
	height: 36px;

	display: flex;
	align-items: center;
	
	position: relative;
	top: 1px;

	margin-left: 30px;
}
#panel-labels .item-label{
	background-color: var(--light-black);
}
.panel-label{
	width: 36px;
	height: 36px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	border-radius: var(--border-radius);

	cursor: pointer;
	
	transition: all .05s ease;

	box-sizing: border-box;
}
.panel-label.selected{
	background-color: var(--red);
}
.panel-label img{
	height: 50%;
}
.panel-label:not(.selected):hover{
	background-color: rgb(42, 42, 44);
}
.panel-label:not(:first-child){
	margin-left: 10px;
}