:root{
	--banner-color: var(--red);
	--player-height: var(--header-height);
}



.radio-button{
	--selected-color: var(--banner-color) !important;
}

/* #region ROOM */

	#container{
		padding: 0;
	}
	#room-container{
		width: 100%;

		display: grid;
		flex: 1;
	}

	#room-container > *{
		height: 100%;

		display: flex;
		flex-direction: column;
	}
	#room-info-container, #social-container{
		padding: var(--panel-padding);
	}
	#playlist-container{
		width: 100%;

		overflow: hidden;
	}

	#room-details{
		display: flex;
		flex-direction: column;
	}
	#room-cover{
		width: 100%;

		display: flex;

		margin-bottom: var(--panel-padding);

		background-color: var(--light-black);

		border-radius: var(--border-radius);

		overflow: hidden;
	}
	#room-cover:after{
		content: '';

		padding-top: 100%;
	}
	#room-cover img{
		width: 100%;
	}
	#room-title{
		font-family: Roboto-Bold;
	}
	#room-creator{
		display: flex;
		align-items: center;

		margin-top: 4px;
	}
	#room-creator p:first-child{
		font-size: .8rem;
		color: #999;
	}
	#room-creator .profile-picture{
		margin: 0 5px 0 8px;
	}
	#creator-username{
		font-family: Roboto-Medium;
		font-size: 1rem;
	}

	#playlist{
		width: 100%;

		display: flex;
		flex-direction: column;
	}
	.pl-song{
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 10px var(--panel-padding);

		cursor: pointer;
	}
	.pl-song:not(.disabled):hover{
		background-color: var(--medium-black-hover);
	}
	.pl-song:hover .song-actions{
		display: flex;
	}
	.song-info, .song-actions{
		height: 100%;

		display: flex;
		align-items: center;
	}
	.song-image{
		width: 2.4rem;
		min-width: 2.4rem;
		height: 2.4rem;

		margin-right: 12px;

		background-color: var(--light-black-hover);

		border-radius: var(--border-radius);

		overflow: hidden;
	}
	.song-image img{
		width: 100%;
	}
	.song-title{
		font-family: Roboto-Medium;
		font-size: 1rem;
	}
	.pl-song.playing .song-title{
		color: var(--dark-green);
	}
	.song-artist{
		font-size: .7rem;
		color: #999;
	}
	.song-actions{
		display: none;
	}
	.song-action{
		height: 100%;
	}
	.song-action .dropdown-toggle{
		width: 2.4rem;
		height: 2.4rem;

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: var(--border-radius);
	}
	.song-action .dropdown-toggle img{
		height: 1rem;
	}
	.song-action .dropdown-toggle:hover{
		background-color: var(--light-black-hover);
	}

/* #endregion*/

/* #region PLAYER */

	#player-container{
		width: 100%;
		height: var(--player-height);

		position: fixed;
		left: 0;

		background-color: var(--medium-black);

		border-top: 2px solid var(--light-black-hover);

		z-index: 19;
	}

	#mobile-player{
		display: flex;
		flex-direction: column;

		position: fixed;

		background-color: var(--medium-black);

		border-radius: 0;
	}
	#mp-header, #mp-controls{
		width: 100%;
		min-height: var(--player-height);
	}

	#mp-header{
		display: flex;
		justify-content: space-between;
	}
	#mp-header > div{
		height: 100%;

		display: flex;
	}

	#mp-body{
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		padding: var(--panel-padding);
	}
	#mobile-player .current-song-image{
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#mobile-player .current-song-image img{
		width: 100%;

		object-fit: cover;
		object-position: center;

		border-radius: var(--border-radius);
	}
	#mp-details{
		width: 100%;

		display: flex;
		align-items: center;
		flex-direction: column;

		margin-top: var(--panel-padding);
	}
	#mobile-player .current-song-title{
		font-family: Roboto-Medium;
		font-size: 1.8rem;
		text-align: center;
	}
	#mobile-player .current-song-artist{
		font-size: 1rem;
		color: #999;
		text-align: center;
	}
	#mp-body .song-progress-container{
		width: 100%;
		height: unset;
		flex: unset;

		padding: var(--panel-padding) 0;
		margin-top: var(--panel-padding);
	}

	#mp-controls{
		justify-content: center;

		border-top: 1px solid var(--light-black-hover);
	}

	#song-info{
		max-width: 100vw;
		height: 100%;

		display: flex;

		position: relative;

		overflow: hidden;

		cursor: auto;
	}
	#song-info .current-song-image{
		min-width: var(--player-height);
		width: var(--player-height);
		height: 100%;

		background-color: var(--light-black);
	}
	#song-info .current-song-image img{
		width: 100%;
		height: 100%;

		object-fit: cover;
	}
	#song-details{
		display: flex;
		flex-direction: column;
		justify-content: center;

		padding: 0 14px;

		overflow: hidden;
	}
	#song-info .current-song-title{
		font-family: Roboto-Medium;
		font-size: 1rem;
	}
	#song-info .current-song-artist{
		font-family: Roboto-Medium;
		font-size: .7rem;
		color: #999;
	}
	.current-song-title, .current-song-artist{
		width: 100%;
		max-width: 100%;

		display: block;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	#mp-details .current-song-title{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;

		white-space: unset;
	}

	#song-controller{
		height: 100%;

		display: flex;
		align-items: center;
	}
	#song-controls, #mp-controls{
		display: flex;
	}
	#song-controls{
		height: 100%;
	}

	.song-control.play img.pause{
		display: none;
	}

	#song-extra-controls{
		display: flex;
		justify-content: flex-end;
	}

	.device-container .dropdown-toggle img{
		filter: var(--red-filter);
	}
	.device-container .dropdown-toggle{ --border-color: var(--red); }
	.device-container.active .dropdown-toggle{ --border-color: var(--light-green); }
	#device-list{
		width: 100%;

		display: flex;
		flex-direction: column;
	}
	.device{
		width: 100%;

		display: flex;
		align-items: center;

		padding: var(--panel-padding);

		cursor: pointer;
	}
	.device:hover{
		background-color: var(--light-black-hover);
	}
	.device.active{
		background-color: var(--medium-black-hover);
	}
	.device img{
		height: 1.2rem;
	}
	.device.active img, .device-container.active .dropdown-toggle img{
		filter: var(--green-filter);
	}
	.device-info{
		display: flex;
		flex-direction: column;

		margin-left: var(--panel-padding);
	}
	.device-name{
		font-family: Roboto-Medium;
		font-size: 1rem;
		line-height: 1rem;
	}
	.device.active .device-name{ color: var(--light-green); }
	.device-type{
		font-size: .8rem;
		color: #999;
	}

	/* #region SONG PROGRESS */

		.song-progress-container{
			height: 100%;

			display: flex;
			align-items: center;
			flex: 1;
			
			padding: 0 var(--panel-padding);

			position: relative;
			top: 1px;
		}
		.progress-container{
			display: flex;
			align-items: center;
			flex: 1;
			
			cursor: pointer;
		}
		.progress-complete, .progress-incomplete{
			border-radius: 3px;
		}
		.progress-container.row{ height: 20px; flex-direction: row; }
		.progress-container.column{ width: 20px; flex-direction: column; }
		.progress-complete{
			position: relative;
			
			background-color: #ccc;
		}
		.progress-container.row .progress-complete{ width: 50%; height: 3px; }
		.progress-container.column .progress-complete{ height: 50%; width: 3px; }
		.progress-container.row .progress-complete, .progress-container.row .progress-incomplete{ height: 3px; }
		.progress-container.column .progress-complete, .progress-container.column .progress-incomplete{ width: 3px; }
		.progress-container:hover .progress-complete{
			background-color: white;
		}
		.progress-container:hover .progress-thumb, .progress-container.tapping .progress-thumb{
			transform: scale(1);
		}
		.progress-thumb{
			width: 10px;
			height: 10px;
			
			position: absolute;
			
			background-color: white;
			
			transform: scale(0);
			
			border-radius: 100%;
			
			transition: all .05s ease;
		}
		.progress-container.row .progress-thumb{
			top: -4px;
			right: -5px;
		}
		.progress-container.column .progress-thumb{
			top: -5px;
			left: -3.5px;
		}
		.progress-incomplete{
			flex: 1;
			
			background-color: var(--light-black-hover);
		}
		.song-progress-time, .song-total-time{
			width: 24px;
			
			text-align: center;
			
			font-family: Roboto-Medium;
			font-size: 12px;
			color: white;
		}
		.song-progress-time{
			margin-right: 10px;
		}
		.song-total-time{
			margin-left: 10px;
		}

	/* #endregion */

/* #endregion */

/* #region CHAT */

	#chat-container{
		height: 100%;

		display: flex;
		flex-direction: column;

		position: relative;

		overflow: hidden;
	}
	#chat-messages-wrapper{
		height: 100%;

		overflow-y: scroll;
	}
	#chat-messages{
		display: flex;
		flex-direction: column;
	}
	.chat-message{
		display: flex;
		flex-direction: column;

		color: white;
	}
	.chat-message.self{
		align-items: flex-end;
	}
	.chat-message.self .chat-message-info{
		display: none;
	}
	.chat-message.self .chat-message-string{
		align-items: flex-end;
	}
	.chat-message.self .chat-message-text{
		align-items: flex-end;

		background-color: #333;
	}
	.chat-message:not(:first-child){
		margin-top: 20px;
	}
	.chat-message-info{
		width: fit-content;

		display: flex;
		align-items: center;

		margin-bottom: 4px;
		margin-left: 4px;
	}
	.message-picture{
		width: 24x;
		height: 24px;
	}
	.message-color{
		--message-color: var(--dark-green);

		width: 8px;
		height: 8px;

		background-color: var(--message-color);

		border-radius: 100%;
	}
	.message-username{
		margin-left: 4px;

		font-family: Roboto-Medium;
		font-size: 12px;
	}
	.chat-message-string{
		width: fit-content;
		max-width: 80%;

		display: flex;
		flex-direction: column;
	}
	.chat-message-text{
		width: fit-content;
		max-width: 100%;

		padding: 12px 15px;

		font-size: 14px;
		word-wrap: break-word;

		background-color: #242424;

		border-radius: var(--border-radius);

		box-sizing: border-box;
	}
	.chat-message-text:not(:first-child){
		margin-top: 6px;
	}
	#chat-box{
		width: 100%;

		margin-top: var(--panel-padding);

		color: white;

		background-color: rgb(50, 50, 53);

		box-sizing: border-box;
	}
	#chat-box::placeholder{
		color: #aaa;
	}

/* #endregion */

/* #region HISTORY */

	#history-entries{
		position: absolute;
		bottom: calc(100% + var(--panel-padding));
		right: 0;
	}
	.history-entry{
		height: 100%;

		display: flex;
		align-items: center;

		padding: 10px;

		background-color: var(--light-black);

		border-radius: var(--border-radius);

		opacity: 1;

		transition: all .1s ease;

		box-sizing: border-box;
	}
	.history-entry .entry-image{
		width: 24px;
		height: 24px;

		margin-right: 6px;

		border-radius: var(--border-radius);

		overflow: hidden;
	}
	.history-entry .entry-image > img{
		height: 100%;
	}
	.history-entry .entry-image:not(:first-child), .entry-object.lone{
		margin-left: 6px;
	}
	.entry-action{
		margin-left: 6px;

		font-size: 12px;
		color: #e5e5e5;

		white-space: nowrap;
	}
	.entry-subject, .entry-object{
		max-width: 200px;

		font-family: Roboto-Bold;
		font-size: 12px;
		color: white;

		white-space: nowrap;
		text-overflow: ellipsis;

		overflow: hidden;
	}
	#history-wrapper{
		max-height: 400px;

		overflow-y: auto;
	}
	#history-entry-list .history-entry{
		padding: 0;
	}
	#history-entry-list .history-entry:not(:first-child){
		margin-top: 10px;
	}

/* #endregion */

/* #region MEDIA QUERIES */

	@media (min-width:320px){ /* smartphones, iPhone, portrait 480x320 phones */
		:root{
			--player-height: var(--header-height);
		}
		body.disabled{
			overflow-y: hidden;
		}

		#container{
			height: fit-content;

			margin-bottom: calc(var(--header-height) * 2);
		}

		/* #region ROOM */

			#room-container{
				grid-template-columns: 1fr;
			}

			#room-title{
				font-size: 2.6rem;
			}
		
		/* #endregion */

		/* #region PLAYER */

			#player-container{
				display: flex;
				justify-content: space-between;

				bottom: var(--header-height);

				border-width: 1px;
			}
			#mobile-player, #mobile-player .device-container > .dropdown-element{
				top: 100%;

				transition: all .2s ease;
			}
			#player-container.open #mobile-player, #mobile-player .device-container.open > .dropdown-element{
				top: var(--header-height);
			}

			#song-info{
				flex: 1;
			}

			.player-element{
				top: -1px;

				border-width: 1px;
			}
			.player-element img{ height: 1.2em; }

			#song-controller > .song-progress-container{ display: none; }
			#song-extra-controls{ display: none; }
		
		/* #endregion */
	}
	@media (min-width:481px){ /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
		:root{
			--player-height: 3.6em;
		}
		body{
			overflow-y: hidden;
		}
		body.disabled{
			overflow-y: auto;
		}

		#container{
			height: calc(100% - var(--header-height) - var(--player-height));

			display: flex;

			margin-bottom: var(--player-height);
		}

		/* #region ROOM */

			#room-container{
				height: 100%;
				max-height: 100%;

				flex: unset;

				grid-template-columns: 20em 1fr 20em;
			}

			#room-title{
				font-size: 2rem;
			}

			#playlist-container{
				border-left: 2px solid var(--light-black-hover);
				border-right: 2px solid var(--light-black-hover);
			}
			#playlist{
				overflow-y: scroll;
			}
		
		/* #endregion */

		/* #region PLAYER */

			#player-container{
				display: grid;
				grid-template-columns: 20rem 1fr 20rem;

				bottom: 0;

				border-width: 2px;
			}
			#mobile-player{ display: none; }

			.player-element{
				top: -2px;

				border-width: 2px;
			}
			.player-element img{ height: .9em; }
			#song-extra-controls .player-element img{ height: 1em; }

			#song-controller > .song-progress-container{ display: flex; }
			#song-extra-controls{ display: flex; }

			#song-extra-controls .device-container .dropdown-element{ min-width: 20rem; }
			
		
		/* #endregion */
	}
	@media (min-width:641px){ /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
		
	}
	@media (min-width:961px){ /* tablet, landscape iPad, lo-res laptops ands desktops */
		
	}
	@media (min-width:1025px){ /* big landscape tablets, laptops, and desktops */
		
	}
	@media (min-width:1281px){ /* hi-res laptops and desktops */
		
	}

/* #endregion */