:root{
	--light-green: #73d073;
	--dark-green: #00B95E;
}
*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	
	display: flex;
	
	font-family: Roboto-Regular;
	
	background-color: #1d1d1d;
}

#player-container{
	display: flex;
	flex-direction: column;
}
#player-container, #playlist-container{
	width: 50%;
}
#player-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
#player{
	width: fit-content;
	height: fit-content;
	
	display: flex;
	flex-direction: column;
	
	position: relative;
	
	padding: 20px;
	
	background-color: rgba(0, 0, 0, .3);
	
	border-radius: 40px;
	
	box-sizing: border-box;
	
	overflow: visible;
}

#song-info{
	display: flex;
	align-items: center;
	flex-direction: column;
	
	color: white;
}
#song-cover{
	width: 200px;
	height: 200px;
	
	position: relative;
	
	border: 2px solid transparent;
	
	border-radius: 30px;
	
	overflow: hidden;
	
	box-sizing: border-box;
	
	cursor: pointer;
	
	transition: all .2s ease;
}
#song-cover:hover{
	border-color: var(--light-green);
}
#song-details{
	margin-top: 10px;
}
#song-details p{
	display: flex;
	align-items: center;
	flex-direction: column;
}
#song-title{
	font-size: 18px;
}
#song-artist{
	font-size: 12px;
	
	color: #ddd;
}
#song-cover:hover #song-image{
	opacity: .4;
}
#song-cover:hover #sync{
	visibility: visible;
	opacity: 1;
}
#song-image{
	transition: opacity .2s ease;
}
#song-image img{
	width: 200px;
	height: 200px;
	
	outline: 1px solid transparent;
}
#sync{
	width: 60px;
	height: 60px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	
	margin-top: 10px;
	
	border-radius: 100%;
	
	visibility: hidden;
	opacity: 0;
	
	box-sizing: border-box;
	
	transition: all .2s ease;
}
#sync img{
	width: auto;
	height: auto;
}

#controls{
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-top: 20px;
}
.control{
	width: 45px;
	height: 45px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: rgba(0, 0, 0, .4);
	
	font-family: Roboto-Medium;
	
	color: white;
	
	box-sizing: border-box;
	
	border-radius: 100%;
	
	cursor: pointer;
}
.control:not(:first-child){
	margin-left: 15px;
}
.control:hover{
	background-color: rgba(0, 0, 0, .3);
}
#previous img{
	position: relative;
	left: -2px;
}
#play-pause{
	width: 60px;
	height: 60px;
}
#next img{
	position: relative;
	left: 1px;
}

#playlist-container{
	height: 100%;
	
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	
	padding: 20px;
	
	background-color: rgba(0, 0, 0, .3);
	
	box-sizing: border-box;
}
#playlist-info{
	display: flex;
}
#playlist-cover, #playlist-cover img{
	width: 200px;
	height: 200px;
}
#playlist-details{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	
	margin-left: 20px;
	
	color: white;
}
#playlist-title{
	display: flex;
	align-items: center;
	
	font-family: Roboto-Medium;
	font-size: 32px;
}
#playlist-collab{
	font-size: 12px;
	text-transform: uppercase;
	
	color: #ccc;
}
#collab-bullet{
	margin-right: 3px;
}
#playlist-created, #playlist-count{
	font-size: 14px;
	
	color: #999;
}
#playlist-creator{
	color: #eee;
}
#playlist-song-count{
	color: #ccc;
}

#playlist-songs{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	flex: 1;
	
	margin-top: 20px;
	
	border-top: 1px solid #555;
	
	box-sizing: border-box;
	
	overflow-y: scroll;
}
.playlist-song{
	width: 100%;
	
	display: grid;
	grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
	flex: 0 0 auto;
	
	padding: 10px 8px;
	
	font-size: 14px;
	
	color: white;
	
	border-bottom: 1px solid #555;
	
	box-sizing: border-box;
	
	cursor: pointer;
}
.playlist-song.playing{
	color: var(--light-green);
}
.playlist-song:hover{
	background-color: rgba(0, 0, 0, .3);
}
.playlist-song > *{
	padding: 0 4px;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	box-sizing: border-box;
}
.playlist-song > :last-child{
	text-align: right;
}
.song-cover{
	height: 20px;
	
	margin-right: 10px;
}

#playlist-songs::-webkit-scrollbar { width: 8px; height: 3px; }
#playlist-songs::-webkit-scrollbar-track {  background-color: transparent; }
#playlist-songs::-webkit-scrollbar-track-piece { background-color: transparent; }
#playlist-songs::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px; }
#playlist-songs::-webkit-scrollbar-corner { background-color: #646464; }
#playlist-songs::-webkit-resizer { background-color: #666; }
#playlist-songs::-webkit-scrollbar-button { display: none; }