:root{
	--banner-color: #2e2e2e;
}

#invite-link{
	width: 20px;
	height: 20px;
	
	margin-left: 5px;
	
	transition: all .1s ease;
	
	cursor: pointer;
}
#connection-container{
	--background-color: var(--red);
}
#connection-status{
	width: 24px;
	height: 24px;
}
#right-side-panel{
	--side-panel-width: 350px;
}

.panel-label.selected{
	background-color: var(--banner-color) !important;
}

/* #region Playlist Info */

#playlist-info{
	--banner-color: var(--medium-black);

	width: 100%;
	height: max-content;
	
	display: flex;

	background-color: var(--banner-color);

	border-radius: var(--border-radius);
}
#playlist-cover{
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
#playlist-cover, #playlist-cover img{
	width: 250px;
	height: 250px;

	border-radius: var(--border-radius);
}
#playlist-details{
	display: flex;
	flex-direction: column;
	
	padding: var(--panel-padding);
	
	color: white;

	box-sizing: border-box;
}
#playlist-title{
	display: flex;
	align-items: center;
	
	position: relative;
	top: -4px;

	font-family: Roboto-Medium;
	font-size: 42px;
}
#playlist-collab{
	display: none;

	font-family: Roboto-Medium;
	font-size: 12px;
	text-transform: uppercase;
	
	color: #ddd;
}
#collab-bullet{
	margin: 0 3px;
}
#playlist-description{
	margin-top: 5px;
	padding-left: 4px;

	font-size: 14px;
}
#playlist-stats{
	display: flex;

	position: relative;
	top: -5px;
}
#playlist-author{
	margin-top: auto;
}
#playlist-author .profile-picture-container{
	--background-color: rgba(0, 0, 0, .3) !important;
}
.playlist-stat, #playlist-author{
	display: flex;
	align-items: center;
}
.playlist-stat{
	width: fit-content;
	height: fit-content;

	padding: 4px;
	padding-right: 10px;

	border-radius: 15px;

	background-color: rgba(0, 0, 0, .3);

	cursor: default;
}
.playlist-stat.main{
	margin-bottom: 2px;
}
.playlist-stat:not(:first-child){
	margin-left: 4px;
}
.playlist-stat-image, #playlist-author img{
	width: 20px;
	height: 20px;
}
.playlist-stat.main .playlist-stat-image{
	width: 24px;
	height: 24px;
}
.playlist-stat p, #playlist-creator{
	margin-left: 3px;

	font-family: Roboto-Medium;
	font-size: 12px;
	color: #eee;
}
#playlist-creator{
	margin-left: 5px;
}
.playlist-stat.main p{
	font-family: Roboto-Medium;
	font-size: 14px;
	color: white;
}

/* #endregion */

/* #region Playlist */

#playlist-songs{
	width: 100%;
	height: calc(100%);
	
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	
	overflow-y: auto;
}
.playlist-song{
	width: 100%;
	
	display: grid;
	grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
	flex: 0 0 auto;
	
	padding: 10px 8px;
	
	font-size: 14px;
	
	color: white;
	
	box-sizing: border-box;
	
	cursor: pointer;
}
.playlist-song.playing{
	padding-left: 5px;
	
	color: var(--light-green);
	
	background-color: #464646;
	
	border-left: 3px solid var(--dark-green);
}
.playlist-song:not(.playing):hover{
	background-color: #363636;
}
.playlist-song > *{
	display: flex;
	align-items: center;
	
	padding: 0 4px;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	box-sizing: border-box;
}
.playlist-song > :last-child{
	text-align: right;
}
.playlist-song.playing .song-cover{
	height: 35px;
}
.song-cover{
	height: 26px;
	
	margin-right: 10px;

	border-radius: 6px;
}
.song-length{
	justify-content: flex-end;
}

/* #endregion */

/* #region Player */

#player-container{
	width: 100%;
	
	display: flex;
	align-items: center;
	
	margin-top: 20px;
	padding: 15px;
	
	background-color: var(--medium-black);

	border-radius: var(--border-radius);
	
	box-sizing: border-box;
}
#song-info{
	display: flex;
	
	overflow: hidden;
}
#song-image{
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
}
#song-image img{
	width: 100%;
	height: 100%;

	border-radius: calc(var(--border-radius) / 2);
}
#current-song-details{
	width: calc(100%);
	max-width: 100%;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	margin-left: 10px;
}
#current-song-name{
	max-width: 150px;
	
	font-family: Roboto-Medium;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	
	overflow: hidden;
}
#current-song-artist{
	margin-top: 4px;
	
	font-size: 12px;
	color: #ccc;
}

#song-controls{
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-left: 70px;
}
.control{
	width: 35px;
	height: 35px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	border: 2px solid #444;
	
	font-family: Roboto-Medium;
	
	color: white;
	
	box-sizing: border-box;
	
	border-radius: 100%;
	
	cursor: pointer;
}
.control:not(:first-child){
	margin-left: 8px;
}
.control:hover{
	background-color: #444;
}
#previous img{
	position: relative;
	left: -2px;
	
	transform: scale(.8);
}
#play-pause{
	width: 50px;
	height: 50px;
}
#next img{
	position: relative;
	left: 1px;
	
	transform: scale(.8);
}
#song-progress-container{
	display: flex;
	align-items: center;
	flex: 1;
	
	position: relative;
	top: 1px;
	
	margin: 0 70px 0 20px;
}
#progress-complete, #progress-incomplete{
	height: 3px;
	
	border-radius: 3px;
}
#song-progress{
	height: 20px;
	
	display: flex;
	align-items: center;
	flex: 1;
	
	cursor: pointer;
}
#progress-complete{
	width: 50%;
	
	position: relative;
	
	background-color: var(--dark-green);
	
	transition: all 1s linear;
}
#song-progress-container:hover #progress-thumb{
	transform: scale(1);
}
#progress-thumb{
	width: 10px;
	height: 10px;
	
	position: absolute;
	top: -4px;
	right: -5px;
	
	background-color: var(--light-green);
	
	transform: scale(0);
	
	border-radius: 100%;
	
	transition: all .05s ease;
}
#progress-incomplete{
	flex: 1;
	
	background-color: #2b2b31;
}
#song-progress-time, #song-total-time{
	width: 24px;
	
	text-align: center;
	
	font-family: Roboto-Medium;
	font-size: 12px;
	color: white;
}
#song-progress-time{
	margin-right: 10px;
}
#song-total-time{
	margin-left: 10px;
}

#extra-controls-container{
	display: flex;
	justify-content: flex-end;
}
.extra-control{
	transition: all .1s ease;
	
	cursor: pointer;
}
.extra-control:hover{
	transform: scale(1.1);
}

/* #endregion */

/* #region Tab Container */

#right-side-panel{
	padding: 0;
}

.tab-container{
	height: 100%;	

	display: flex;
	flex-direction: column;
}
.tab-selectors{
	width: 100%;

	display: flex;
}
.tab-selector{
	width: 100%;

	display: flex;
	justify-content: center;

	padding: 15px 0;

	font-family: Roboto-Medium;
	font-size: 12px;
	text-transform: uppercase;
	color: white;

	border-bottom: 3px solid #444;

	cursor: pointer;

	transition: all .02s ease;
}
.tab-selector.selected{
	border-color: white;
}
.tab-selector:hover{
	background-color: rgba(0, 0, 0, .1);
}
.tab-selector:not(.selected):hover{
	border-color: #888;
}
.tab{
	width: 100%;
	height: 100%;

	display: none;
	flex-direction: column;

	position: relative;

	padding: var(--panel-padding);

	box-sizing: border-box;

	overflow: hidden;
}
.tab.selected{
	display: flex;
}

.tab-overlay{
	width: 100%;
	height: 100%;

	display: none;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 0;
	left: 0;

	padding: var(--panel-padding);

	background-color: rgba(0, 0, 0, .9);

	box-sizing: border-box;

	z-index: 10;
}
.overlay-options{
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	margin-bottom: var(--panel-padding);
}
.overlay-option{
	width: 20px;
	height: 20px;

	padding: 8px;

	border-radius: 100%;

	cursor: pointer;
}
.overlay-option:hover{
	background-color: var(--light-black);
}
.overlay-option img{
	height: 100%;
}

/* #endregion */

/* #region Chat */

#chat-messages-wrapper{
	height: 100%;
	max-height: 100%;

	overflow-y: auto;
}
.chat-message{
	display: flex;
	flex-direction: column;

	color: white;
}
.chat-message.self{
	align-items: flex-end;
}
.chat-message.self .chat-message-info{
	display: none;
}
.chat-message.self .chat-message-string{
	align-items: flex-end;
}
.chat-message:not(:first-child){
	margin-top: 20px;
}
.chat-message-info{
	width: fit-content;

	display: flex;
	align-items: center;

	margin-bottom: 4px;
	margin-left: 4px;
}
.message-picture{
	width: 24x;
	height: 24px;
}
.message-color{
	--message-color: var(--dark-green);

	width: 8px;
	height: 8px;

	background-color: var(--message-color);

	border-radius: 100%;
}
.message-username{
	margin-left: 4px;

	font-family: Roboto-Medium;
	font-size: 12px;
}
.chat-message-string{
	width: fit-content;
	max-width: 80%;

	display: flex;
	flex-direction: column;
}
.chat-message-text{
	width: fit-content;
	max-width: 100%;

	padding: 12px 15px;

	font-size: 14px;
	word-wrap: break-word;

	background-color: #2c2c2c;

	border-radius: var(--border-radius);

	box-sizing: border-box;
}
.chat-message-text:not(:first-child){
	margin-top: 6px;
}
#chat-box{
	margin-top: var(--panel-padding);
}

#unread-count{
	display: none;

	margin-left: 3px;
	padding: 1px 4px;

	font-family: Roboto-Bold;
	font-size: 10px;
	color: white;

	background-color: var(--red);

	border-radius: 4px;

	box-sizing: border-box;
}

/* #endregion */

/* #region Users */

#user-list, #offline-user-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--panel-padding);

	margin-top: 8px;
}
#offline-wrapper{
	margin-top: var(--panel-padding);
}
.user{
	--user-width: calc((var(--side-panel-width) - var(--panel-padding) * 3) / 2);

	width: fit-content;

	display: flex;
	align-items: center;
	flex-direction: column;

	position: relative;
	
	border-radius: var(--border-radius);

	overflow: hidden;

	transition: all .1s ease;
}
#offline-user-list .user{
	filter: grayscale(100%) brightness(.5);
}
#offline-user-list .user:hover{
	filter: none;
}
.user:after{
	content: '';

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-color: var(--background-color);

	filter: brightness(.7) saturate(.8);

	z-index: 1;
}
.room-user-info{
	display: flex;
	align-items: center;

	z-index: 5;
}
.room-user-info img{
	height: 20px;

	margin-right: 2px;
}
.user p{
	padding: 10px 0;

	font-family: Roboto-Medium;
	font-size: 14px;
	color: white;

	box-sizing: border-box;

	z-index: 2;
}
.user .profile-picture-container{
	//box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	
	border-radius: var(--border-radius) var(--border-radius) 0 0;

	z-index: 2;
}
.user .profile-picture-icon{
	max-width: 60px;
	max-height: 60px;
}

.user:hover .user-options{
	bottom: 0;
}
.user:hover .user-blur{
	background-color: rgba(0, 0, 0, .7);
}
.user-header{
	position: relative;

	z-index: 5;
}
.user-blur{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transition: all .25s ease;

	z-index: 3;
}
.user-options{
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: repeat(4, 1fr);

	position: absolute;
	bottom: 100%;
	left: 0;

	box-sizing: border-box;

	z-index: 5;

	transition: all .25s ease;
}
.user-option{
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	font-family: Roboto-Medium;
	font-size: 14px;
	color: white;

	background-color: var(--background-color);

	box-sizing: border-box;

	z-index: 5;

	cursor: pointer;
}
.user-option:hover .option-blur{
	display: block;
}
.user-option:last-child{
	box-shadow: 0 0 6px rgba(0, 0, 0, .3);

	z-index: 4;
}
.option-blur{
	width: 100%;
	height: 100%;

	display: none;

	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, .2);
}

/* #endregion */

/* #region Notifications */

#notifications{

}
.notification{
	height: 100%;

	display: flex;
	align-items: center;

	padding: 8px 10px;

	background-color: #074526;

	border: 2px solid var(--dark-green);
	border-radius: 10px;

	opacity: 1;

	box-sizing: border-box;

	transition: all .1s ease;
}
.notification .notification-image{
    margin-right: 3px;
}
.notification .notification-image:not(:first-child), .notification-object.lone{
    margin-left: 5px;
}
.notification-action{
	margin-left: 5px;

	font-size: 12px;
	color: #e5e5e5;
}
.notification-subject, .notification-object{
	font-family: Roboto-Bold;
	font-size: 12px;
	color: white;
}
.notification-song-image{
	width: 20px;
	height: 20px;

	background-color: var(--medium-black);
	background-image: var(--background-image);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	border-radius: 5px;
}

/* #endregion */