.subpanel-container{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	flex: 1;
	
	margin-top: 20px;
	
	overflow: hidden;
	
	box-sizing: border-box;
}
.subpanel-labels{
	width: 100%;
	
	display: flex;
}
.subpanel-label{
	display: flex;
	align-items: center;
	
	padding: 12px 24px;
	
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	
	background-color: #2a2a2a;
	
	box-sizing: border-box;
	
	cursor: pointer;
}
.subpanel-label.selected{
	font-family: Roboto-Medium;
	font-size: 14px;
	
	background-color: var(--medium-black);
}
.subpanel{
	width: 100%;
	
	display: none;
	flex: 1;
	
	background-color: var(--medium-black);
	
	overflow: hidden;
	
	box-sizing: border-box;
}
.subpanel.selected{
	display: flex;
}

#playlist-info{
	width: 100%;
	height: max-content;
	
	display: flex;
}
#playlist-cover, #playlist-cover img{
	width: 250px;
	height: 250px;
}
#playlist-details{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	
	margin-left: 20px;
	
	color: white;
}
#playlist-title{
	display: flex;
	align-items: center;
	
	font-family: Roboto-Medium;
	font-size: 32px;
}
#playlist-collab{
	font-size: 12px;
	text-transform: uppercase;
	
	color: #ccc;
}
#collab-bullet{
	margin-right: 3px;
}
#playlist-created, #playlist-count{
	font-size: 14px;
	
	color: #999;
}
#playlist-creator{
	color: #eee;
}
#playlist-song-count{
	color: #ccc;
}


#playlist-songs{
	width: 100%;
	height: calc(100%);
	
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	
	overflow-y: scroll;
}
.playlist-song{
	width: 100%;
	
	display: grid;
	grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
	flex: 0 0 auto;
	
	padding: 10px 8px;
	
	font-size: 14px;
	
	color: white;
	
	border-bottom: 1px solid #555;
	
	box-sizing: border-box;
	
	cursor: pointer;
}
.playlist-song.playing{
	padding-left: 5px;
	
	color: var(--light-green);
	
	background-color: #353535;
	
	border-left: 3px solid var(--dark-green);
}
.playlist-song:hover{
	background-color: rgba(0, 0, 0, .3);
}
.playlist-song > *{
	display: flex;
	align-items: center;
	
	padding: 0 4px;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	box-sizing: border-box;
}
.playlist-song > :last-child{
	text-align: right;
}
.playlist-song.playing .song-cover{
	height: 35px;
}
.song-cover{
	height: 20px;
	
	margin-right: 10px;
}
.song-length{
	justify-content: flex-end;
}

#user-list{
	width: 100%;
	
	flex: 1;
	
	padding: 20px;
	
	box-sizing: border-box;
	
	overflow-y: scroll;
}
.user{
	width: 100%;
	
	display: flex;
	align-items: center;
}
.user-image{
	width: 40px;
	height: 40px;
	
	background-color: rgba(0, 0, 0, .4);
	
	border-radius: 100%;
}
.user-name{
	margin-left: 10px;
	
	font-family: Roboto-Medium;
	font-size: 14px;
	color: white;
}
.user:not(:first-child){
	margin-top: 10px;
}

#playlist-songs::-webkit-scrollbar, #user-list::-webkit-scrollbar { width: 8px; height: 3px; }
#playlist-songs::-webkit-scrollbar-track, #user-list::-webkit-scrollbar-track {  background-color: transparent; }
#playlist-songs::-webkit-scrollbar-track-piece, #user-list::-webkit-scrollbar-track-piece { background-color: transparent; }
#playlist-songs::-webkit-scrollbar-thumb, #user-list::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px; }
#playlist-songs::-webkit-scrollbar-corner, #user-list::-webkit-scrollbar-corner { background-color: #646464; }
#playlist-songs::-webkit-resizer, #user-list::-webkit-resizer { background-color: #666; }
#playlist-songs::-webkit-scrollbar-button, #user-list::-webkit-scrollbar-button { display: none; }*/